<td>
  <h1><%= t('mailers.update_organization.head1', lobby_name: @organization.fullname)%></h1>
  <p><%= t('mailers.update_organization.head2', link: "<a href='https://tomadedecisiones.madrid.es'>https://tomadedecisiones.madrid.es/</a>").html_safe%></p>
  <ul>
    <li><b><%= t('mailers.update_organization.text2')%></b><%= @organization.fullname %></li>
    <li><b><%= t('mailers.update_organization.text3')%></b><%= I18n.l @organization.modification_email_date, format: :long if !@organization.modification_email_date.blank? %></li>
    <li><b><%= t('mailers.update_organization.text1')%></b><%= @organization.id %></li>
  </ul>
  <p><%= t('mailers.update_organization.head3', link: "<a href='https://tomadedecisiones.madrid.es/organizations/#{@organization.id}''>https://tomadedecisiones.madrid.es/organizations/#{@organization.id}</a>").html_safe%></p>
</td>
