<td>
  <h1><%= t('mailers.update_organization_contact.head1', lobby_name: @organization.fullname)%></h1>
  <p><%= t('mailers.update_organization_contact.head2', link: "<a href='https://tomadedecisiones.madrid.es'>https://tomadedecisiones.madrid.es/</a>").html_safe%></p>
  <ul>
    <li><b><%= t('mailers.update_organization_contact.text2')%></b><%= @organization.fullname %></li>
    <li><b><%= t('mailers.update_organization_contact.text3')%></b><%= I18n.l @organization.modification_email_date, format: :long if !@organization.modification_email_date.blank? %></li>
    <li><b><%= t('mailers.update_organization_contact.text1')%></b><%= @organization.id %></li>
  </ul>
  <p><%= t('mailers.update_organization_contact.head3', link: "<a href='https://tomadedecisiones.madrid.es/users/sign_in'>https://tomadedecisiones.madrid.es/users/sign_in</a>").html_safe%></p>
  <ul>
    <li><b><%= t('mailers.update_organization_contact.text4')%></b><%= @user.email %></li>
    <li><b><%= t('mailers.update_organization_contact.text5')%></b><%= @user.password %></li>
  </ul>
</td>
