<% content_for(:body_class) { 'home-page' } %>

<div class="row" data-equalizer>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to visitors_path  do %>
        <%= image_tag 'homepage/agendas.jpg', alt: t('home.agendas_title') %>
        <div class="content">
          <p><strong><%= t'home.agendas_title' %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t'home.agendas_description' %></p>
      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to registration_lobbies_index_path do %>
        <%= image_tag 'homepage/lobby-register.jpg', alt: t('home.register_lobby_title') %>
        <div class="content">
          <p><strong><%= t'home.register_lobby_title' %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('home.register_lobby_description') %></p>
      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to 'https://transparencia.madrid.es/portales/transparencia/es/Informacion-juridica/Huella-normativa?vgnextfmt=default&vgnextchannel=4099508929a56510VgnVCM1000008a4a900aRCRD', target: 'blank' do  %>
        <%= image_tag 'homepage/normative-footprint.jpg', alt: t('home.regulations_title')%>
        <div class="content">
          <p><strong><%= t('home.regulations_title') %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">     
        <p><%= t('home.regulations_description') %></p>
      </div>
    </figure>
  </div>
</div>

<div class="small-12 column content-text" style="border-top: 0.1rem solid #c5c5c5; margin-top: 2rem;padding-top: 1rem">
  <p>
    <strong><%= t('home.generic_text_title') %></strong><br />
    <%= t('home.generic_text_block_1_html') %>
  </p>
  <ul>
    <li><%= t('home.generic_text_list_first') %></li>
    <li><%= t('home.generic_text_list_second') %></li>
    <li><%= t('home.generic_text_list_third') %></li>
  </ul>
  <p style="margin-top: 1rem">
    <%= t('home.generic_text_finish_html') %>
  </p>
</div>
