<div class="small-12 columns mb20">
  <%= page_entries_info @notifications %>
  <%= paginate @notifications %>
</div>
<div class="small-12">
  <table class="small-12">
    <thead>
      <tr>
        <%Notification.get_columns.each do |column|%>
          <th><%= Notification.human_attribute_name(column) %></th>        
        <%end%>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <%Notification.get_columns.each do |column|%>
          <th><%= Notification.human_attribute_name(column) %></th>        
        <%end%>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @notifications.each do |notification| %>
      <tr>
        <%Notification.get_columns.each do |column|%>
          <td><%= notification.try(column) %></td>        
        <%end%>
        
        <td class="right">
            <%= link_to admin_notification_path(notification), title: "Ver" do %>
              <i class="step fi-eye size-24"></i>
            <% end %>

            <% if active_notification(notification.status)%>
              <%= link_to edit_admin_notification_path(notification), title: t('backend.edit') do %>
                <i class="step fi-page-edit size-24"></i>
              <% end  %>
            <%end%>

            <% if historic_notification(notification.status)%>
              <%= link_to pre_recover_admin_notification_path(notification), title: "Recuperar", data: {confirm: "¿Desea recuperar la notificación?"} do %>
                <i class="fa fa-refresh"></i>
              <% end  %>
              <%= link_to manually_permited_admin_notification_path(notification), title: "Publicar manualmente", data: {confirm: "¿Desea publicar manualmente la notificación?" } do %>
                <i class="fa fa-check-circle-o"></i>
              <% end %>
            <%end%>

            <% if active_notification(notification.status)%>
              <%= link_to recover_origin_admin_notification_path(notification), title: "Recargar datos originales",  data: {confirm: "¿Desea recargar los datos originales de la notificación?" } do %>
                <i class="fa fa-undo"></i>
              <% end %>
              <%= link_to permited_admin_notification_path(notification), title: "Publicar",  data: {confirm: "¿Desea Publicar que la notificación haga cambios?" } do %>
                <i class="fa fa-check"></i>
              <% end %>
              <%= link_to pre_canceled_admin_notification_path(notification), title: "Rechazar", data: {confirm: "¿Desea cancelar la notificación?" } do %>
                <i class="fa fa-close"></i>
              <% end %>
              <%= link_to manually_permited_admin_notification_path(notification), title: "Publicar manualmente", data: {confirm: "¿Desea publicar manualmente la notificación?" } do %>
                <i class="fa fa-check-circle-o"></i>
              <% end %>
            <%end%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @notifications %>