<fieldset>
  <legend><%=t('backend.notification_tabs.organization_data')%></legend>
  <fieldset>
    <legend><%= t('backend.reference.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 columns">
        <p><strong><%= t('backend.reference.title') %></strong></p>
        <p><%= organization.try(:reference).blank? ? "<br>".html_safe : organization.try(:reference) %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <p><strong><%=t("backend.lobby_inscription_at")%></strong></p>
        <p><%= organization.try(:inscription_date).present? ? I18n.l(organization.inscription_date, format: :short) : "<br>".html_safe %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong><%=t("backend.lobby_updated_at")%></strong></p>
        <p><%= organization.try(:modification_date).present? ? I18n.l(organization.modification_date, format: :short) : "<br>".html_safe %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong><%=t("backend.lobby_inactive_at")%></strong></p>
        <p><%= organization.canceled_at.present? ? I18n.l(organization.canceled_at, format: :short) : "<br>".html_safe %></p>
      </div>
    </div> 
    <div class="row">
      <div class="small-12 medium-4 columns">
        <p><strong><%= t('backend.lobby_renovation_at')%></strong></p>
        <p><%= organization.renovation_date.blank? ? "<br>".html_safe : I18n.l(organization.renovation_date, format: :short) %></p>
      </div>
      <div class="small-12 medium-4 columns" style="float: left">
        <p><strong><%= t('backend.lobby_expired_at')%></strong></p>
        <p><%= organization.expired_date.blank? ? "<br>".html_safe : I18n.l(organization.expired_date, format: :short) %></p>
      </div>
    </div>   
    <% if organization.try(:organizations_renewals).try(:count) > 0 && current_user.admin?%>
      <div class="row">
        <div class="small-12 medium-12 columns">
        <fieldset>
            <legend><%= t('backend.title_renovation') %></legend>
            <table class="small-12">
              <thead>
                <tr>
                  <th><%= t('backend.renovation_date')%></th>
                  <th><%= t('backend.expired_date')%></th>
                  <th><%= t('backend.active')%></th>
                </tr>
              </thead>
              
              <tbody>
                <%organization.organizations_renewals.each do |renew| %>
                  <tr>
                    <td><%=renew.renovation_date.present? ? I18n.l(renew.renovation_date, format: :short) : "--/--/----"%></td>
                    <td><%=renew.expiration_date.present? ? I18n.l(renew.expiration_date, format: :short) : "--/--/----"%></td>
                    <td><%=renew.active && !renew.expiration_date.blank? && renew.expiration_date > Time.zone.now ? "Activo" : "Caducado"%></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
    <%end%>
  </fieldset>

  <fieldset>
    <legend><%= t('backend.identifying_data.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 columns">
        <p><strong><%= t('backend.code.title') %></strong></p>
        <p><%= organization.try(:id).blank? ? "<br>".html_safe : organization.try(:id) %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p><strong><%= t('backend.identifying_data.identifier') %></strong></p>
        <p><%= organization.try(:identifier).blank? ? "<br>".html_safe : organization.try(:identifier) %></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <p><strong><%= t('backend.identifying_data.business_name') %></strong></p>
        <p><%= organization.try(:business_name).blank? ? "<br>".html_safe : organization.try(:business_name) %></p>
      </div>     
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <p><strong><%= t('backend.identifying_data.name') %></strong></p>
        <p><%= organization.try(:name).blank? ? "<br>".html_safe : organization.try(:name) %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong><%= t('backend.identifying_data.first_surname') %></strong></p>
        <p><%= organization.try(:first_surname).blank? ? "<br>".html_safe : organization.try(:first_surname) %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong><%= t('backend.identifying_data.second_surname') %></strong></p>
        <p><%= organization.try(:second_surname).blank? ? "<br>".html_safe : organization.try(:second_surname) %></p>
      </div>
    </div>  
    <%=render "admin/organizations/address_show", model: organization%>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <p><strong><%= t('backend.identifying_data.category_id') %></strong></p>
        <p><%=  organization.try(:category).try(:name).blank? ? "<br>".html_safe : organization.try(:category).try(:name) %></p>
      </div>
    </div>
    <div class="row">      
      <div class="small-12 columns">
        <p><strong><%= t('backend.identifying_data.description') %></strong></p>
        <p><%= organization.try(:description).present? ? organization.try(:description).html_safe : "<br>".html_safe %></p>
      </div>
    </div>    
    <br>
    <fieldset class="interest">
      <legend><%= t('backend.interest.title_fieldset') %></legend>
      <div class="row">
        <div class="small-12 columns">
          <% Interest.form_order.each do |f| %>
            <div class="small-12 medium-6 columns">
              <p>
                <%= check_box_tag "interest_#{f.id}", nil, organization.interest?(f.id) || organization.interest_ids.include?(f.id) || !@notification.modification_data["organization"].blank? && @notification.modification_data["organization"]["interest_ids"].to_a.map {|a| a.to_i if !a.blank?}.include?(f.id) || false, disabled: true, class: 'checkbox' %>
                <span><%= f.name %></span>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
    <br>
    <div class="row">
      <div class="small-12 columns">
        <p>
          <strong><%= t('backend.identifying_data.registered_lobbies_title') %></strong>
          <% if !organization.registered_lobby_ids.blank? || !@notification.modification_data["organization"].blank? && @notification.modification_data["organization"]["registered_lobby_ids"].to_a.map {|a| a.to_i if !a.blank?}.select {|lr| !lr.blank? && lr > 0}.count > 0 || organization.try(:registered_lobbies).select {|rl| rl.name.blank? && rl.name != 'Ninguno'}.count > 0 %>
            <%=t(true)%><br>
            <% organization.registered_lobbies.each do |registered_lobby| %>
              <%= "<p>- #{registered_lobby.name}</p>".html_safe if !registered_lobby.name.blank? && registered_lobby.name != options_for_registered_lobby.last[0].to_s%>
              <%= "<p>- #{registered_lobby.name} #{organization.other_registered_lobby_desc}</p>".html_safe if !registered_lobby.name.blank? && registered_lobby.name == options_for_registered_lobby.last[0].to_s%>
            <% end %>
            
          <%else%>
            <%=t(false)%>
          <% end %>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
        <p><strong><%= t('backend.identifying_data.web') %></strong></p>
        <p><%= organization.try(:web).blank? ? "<br>".html_safe : organization.try(:web) %></p>
      </div>
    </div>
  </fieldset>

  <% if !organization.legal_representant.blank?  %>
    <fieldset>
      <legend><%= t('backend.legal_representant.title_fieldset') %></legend>
      <div class="row">
        <%if current_user.admin? || current_user.lobby? %>
          <div class="small-12 medium-6 columns">
            <p><strong><%= t('backend.legal_representant.identifier') %></strong></p>
            <p><%= organization.legal_representant.try(:identifier).blank? ? "<br>".html_safe : organization.legal_representant.try(:identifier) %></p>
          </div>
        <%end%>
        <div class="small-12 medium-6 columns" style="float: left">
            <% if !organization.legal_representant.try(:name).blank? %>
              <p><strong><%= t('backend.legal_representant.name') %></strong></p>
              <p><%= organization.legal_representant.try(:name).blank? ? "<br>".html_safe : organization.legal_representant.try(:name) %></p>
            <%else%>
              <p><strong><%= t('backend.legal_representant.business_name') %></strong></p>
              <p><%= organization.legal_representant.try(:business_name).blank? ? "<br>".html_safe : organization.legal_representant.try(:business_name) %></p>
            <%end%>
        </div>
      </div>
      <% if !organization.legal_representant.try(:name).blank? %>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <p><strong><%= t('backend.legal_representant.first_surname') %></strong></p>
            <p><%= organization.legal_representant.try(:first_surname).blank? ? "<br>".html_safe : organization.legal_representant.try(:first_surname) %></p>
          </div>
          <div class="small-12 medium-6 columns">
            <p><strong><%= t('backend.legal_representant.second_surname') %></strong></p>
            <p><%= organization.legal_representant.try(:second_surname).blank? ? "<br>".html_safe : organization.legal_representant.try(:second_surname) %></p>
          </div>
        </div>
      <%end%>
      <%if current_user.admin? || current_user.lobby? %>
        <%=render "admin/organizations/address_show", model: organization.legal_representant%>
      <%end%>     
    </fieldset>
  <%end%>

  <% if !organization.notification_effect.blank? && (current_user.admin? || current_user.lobby? ) %>
    <fieldset>
      <legend><%= t('backend.notification_effect.title_fieldset') %></legend>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <p><strong><%= t('backend.notification_effect.identifier') %></strong></p>
          <p><%= organization.notification_effect.try(:identifier).blank? ? "<br>".html_safe : organization.notification_effect.try(:identifier) %></p>
        </div>
        <div class="small-12 medium-6 columns">
            <% if !organization.notification_effect.try(:name).blank? %>
              <p><strong><%= t('backend.notification_effect.name') %></strong></p>
              <p><%= organization.notification_effect.try(:name).blank? ? "<br>".html_safe : organization.notification_effect.try(:name) %></p>
            <%else%>
              <p><strong><%= t('backend.notification_effect.business_name') %></strong></p>
              <p><%= organization.notification_effect.try(:business_name).blank? ? "<br>".html_safe : organization.notification_effect.try(:business_name) %></p>
            <%end%>
        </div>
      </div>
      <% if !organization.notification_effect.try(:name).blank? %>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <p><strong><%= t('backend.notification_effect.first_surname') %></strong></p>
            <p><%= organization.notification_effect.try(:first_surname).blank? ? "<br>".html_safe : organization.notification_effect.try(:first_surname) %></p>
          </div>
          <div class="small-12 medium-6 columns">
            <p><strong><%= t('backend.notification_effect.second_surname') %></strong></p>
            <p><%= organization.notification_effect.try(:second_surname).blank? ? "<br>".html_safe : organization.notification_effect.try(:second_surname) %></p>
          </div>
        </div>
      <%end%>
      <%=render "admin/organizations/address_show", model: organization.notification_effect%>
    </fieldset>
  <% end %>

  <% if organization.try(:user).present? %>
    <fieldset>
      <legend><%= t('backend.contact_person.title_fieldset') %></legend>
      <div class="row">
        <div class="small-6 medium-6 columns">
          <p><strong><%= t('backend.contact_person.name') %></strong></p>
          <p><%= organization.try(:user).try(:first_name).blank? ? "<br>".html_safe : organization.try(:user).try(:first_name) %></p>
        </div>
        <div class="small-6 medium-6 columns">
          <p><strong><%= t('backend.contact_person.surname1') %></strong></p>
          <p><%= organization.try(:user).try(:last_name).blank? ? "<br>".html_safe : organization.try(:user).try(:last_name) %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-6 medium-6 columns">
          <p><strong><%= t('backend.contact_person.surname2') %></strong><p>
          <p><%= organization.try(:user).try(:second_last_name).blank? ? "<br>".html_safe : organization.try(:user).try(:second_last_name) %></p>
        </div>
        <div class="small-6 medium-6 columns">
          <p><strong><%= t('backend.contact_person.email') %></strong></p>
          <p><%= organization.try(:user).try(:email).blank? ? "<br>".html_safe : organization.try(:user).try(:email) %></p>
        </div>        
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p><strong><%= t('backend.contact_person.phone') %></strong></p>
          <p><%= organization.try(:user).try(:phones).blank? ? "<br>".html_safe : organization.try(:user).try(:phones) %></p>
        </div>        
      </div>
    </fieldset>
  <% end %>

  <fieldset>
    <legend><%= t('backend.lobbies_data.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 columns">
        <p><strong><%=t("backend.own_lobby")%></strong></p>
        <p><%= t(organization.try(:own_lobby_activity).to_s) %></p>
      </div>
    </div>
    <br>
    <% if organization.try(:own_lobby_activity) %>
      <div class="row">
        <div class="small-6 medium-6 columns">
          <p>
            <strong><%= t('backend.lobbies_data.fiscal_year') %></strong>
            <%= organization.try(:fiscal_year) %>
          </p>
        </div>
        <div class="small-6 medium-6 columns">
          <p>
            <strong><%= t('backend.lobbies_data.range_fund_title') %></strong>
            <% if organization.try(:range_fund).present? %>
              <%= t("backend.lobbies_data.range_fund.#{organization.try(:range_fund)}") %>
            <% end %>
          </p>
        </div>
      </div>
      <br>
      <%= render "admin/organizations/questions_show", model: organization, data: organization.try(:range_subventions)%>
    <%else%>
      <div class="row">
        <div class="small-6 medium-6 columns">
          <p>
            <%= t('organizations.show.no_results') %>
          </p>
        </div>
      </div>
    <%end%>
    <br>
  </fieldset>
 
  <fieldset>
    <legend><%= t('backend.represented_entities.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 columns mb10">
        <p>
          <strong><%=t("backend.foreign_lobby")%></strong>
          <%= t(organization.try(:foreign_lobby_activity).to_s) %>
        </p>
      </div>
    </div>
    <br>
    <% if !organization.represented_entities.empty? && organization.foreign_lobby_activity %>
     
      <% organization.represented_entities.each_with_index do |represented_entity, index|%>
        <fieldset>
          <legend><i><strong><%= t('backend.represented_entities.company') %> <%= index + 1 %></strong></i></legend>
          <fieldset>
            <legend><strong><%= t('backend.represented_entities.title_identifier') %></strong></legend>

            <div class="row">
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.identifier') %></strong>
                  <%= represented_entity.try(:identifier) %>
                </p>
              </div>
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.name') %></strong>
                  <%= !represented_entity.business_name.blank? ? represented_entity.try(:business_name) : represented_entity.try(:name) %>
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.first_surname') %></strong>
                  <%= represented_entity.try(:first_surname) %>
                </p>
              </div>
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.second_surname') %></strong>
                  <%= represented_entity.try(:second_surname) %>
                <p>
              </div>
            </div>
            <br>
            <%=render "admin/organizations/address_show", model: represented_entity%>
            <br>
            <div class="row">
              <div class="small-12 medium-12 columns">
                <p>
                  <strong><%= t('backend.identifying_data.category_id') %></strong>
                  <%= category_name(represented_entity.try(:category_id)) %>
                </p>
              </div>
            </div>
          </fieldset>
          <%if current_user.admin? || current_user.lobby? %>
            <fieldset>
              <legend><%= t('backend.represented_entities.title_person') %></legend>
              <div class="row">
                  <div class="small-12 medium-6 columns">
                    <p>
                      <strong><%= t('backend.legal_representant.identifier') %></strong>
                      <%= represented_entity.try(:legal_representant).try(:identifier) %>
                    </p>
                  </div>
                <div class="small-12 medium-6 columns" style="float: left">
                  <p>
                    <strong><%= t('backend.legal_representant.name') %></strong>
                    <%= represented_entity.try(:legal_representant).try(:name) %>
                  </p>
                </div>
              </div>
              <br>            
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <p>
                    <strong><%= t('backend.legal_representant.first_surname') %></strong>
                    <%= represented_entity.try(:legal_representant).try(:first_surname) %>
                  </p>
                </div>
                <div class="small-12 medium-6 columns">
                  <p>
                    <strong><%= t('backend.legal_representant.second_surname') %></strong>
                    <%= represented_entity.try(:legal_representant).try(:second_surname) %>
                  </p>
                </div>
              </div>              
              <br>
              <%=render "admin/organizations/address_show", model: represented_entity.try(:legal_representant)%>
            </fieldset>  
          <%end%>    
          
          <fieldset>
            <legend><%= t('backend.represented_entities.title_data') %></legend>
            <div class="row">
              <div class="small-6 medium-6 columns mb10">
                <p>
                  <strong><%= t('backend.represented_entities.from') %></strong>
                  <%= I18n.l represented_entity.try(:from) if represented_entity.try(:from).present? %>
                </p>
              </div>
              <div class="small-6 medium-6 columns mb10">
                <p>
                  <strong><%= t('backend.represented_entities.to') %></strong>
                  <%= I18n.l represented_entity.try(:to) if represented_entity.try(:to).present? %>
                </p>
              </div>
            </div> 
            <div class="row">
              <div class="small-6 medium-6 columns mb10">
                <p>
                  <strong><%= t('backend.represented_entities.fiscal_year') %></strong>
                  <%= represented_entity.try(:fiscal_year) %>
                </p>
              </div>
              <div class="small-6 medium-6 columns mb10">
                <p>
                  <strong><%= t('backend.represented_entities.range_fund_title') %></strong>
                    <%= t("backend.represented_entities.range_fund.#{represented_entity.try(:range_fund)}") if !represented_entity.try(:range_fund).blank?  %>
                </p>
              </div>
            </div>
            <br>
            <%= render "admin/organizations/questions_show", model: represented_entity, data: represented_entity.try(:represented_range_subventions)%>
          </fieldset>
        </fieldset>
      <% end %>
    <% elsif organization.in_group_public_administration %>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            <%= t('organizations.show.lobby_represented') %>
          </p>
        </div>
      </div>
    <% end %>
  </fieldset>
  
  <fieldset>
    <legend><%= t('backend.agents.title_fieldset') %></legend>
    <% if organization.agents.present? && organization.agents.count > 0%>
      <% organization.agents.each_with_index do |agent, index| %>
        <fieldset>
          <legend><i><strong><%= t('agents') %> <%= index + 1  %></strong></i></legend>
        
          <br>
          <div class="row">
            <div class="small-6 medium-6 columns">
              <p>
                <strong><%= t('backend.agents.name') %></strong>
                <%= agent.name %>
              </p>
            </div>
            <div class="small-6 medium-6 columns">
              <p>
                <strong><%= t('backend.agents.first_surname') %></strong>
                <%= agent.first_surname %>
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="small-6 medium-6 columns">
              <p>
                <strong><%= t('backend.agents.second_surname') %></strong>
                <%= agent.second_surname %>
              </p>
            </div>
            <div class="small-6 medium-6 columns">
              <p>
                <strong><%= t('backend.agents.from') %></strong>
                <%= I18n.l agent.from if agent.from.present? %>
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="small-12 medium-12 columns">
              <p>
                <strong><%= t('backend.agents.to') %></strong>
                <%= I18n.l agent.to if agent.to.present? %>
              </p>
            </div>
          </div>
          <br>
          <% if agent.public_assignments.present? %>
            <div class="row">
              <div class="small-12 columns">
                <p>
                  <strong><%= t('backend.agents.public_assignments_only_show') %></strong>
                  <%= agent.public_assignments.html_safe %>
                </p>
              </div>
            </div>
            <br>
          <% end %>
          <div class="row">
            <div class="small-12 columns">
              <p>
                <strong><%= t("backend.agents.#{agent.allow_public_data}") %></strong>
              </p>
            </div>
          </div>
          <br>
          <%= link_to agent.attachments.first.file.url, class: "button tiny radius",
                          title: "#{t('backend.agents.attachment.title_button')}".html_safe do %>
                <p>Autorización del agente <i class="step fi-archive size-24"></i></p>
              <% end if agent.attachments.any? && !agent.from.blank?%>
          <%#= link_to agent.file_allow_data.url, class: "button tiny radius",
                          title: "#{t('backend.agents.attachment.title_allow_data')}".html_safe do %>
                <!--<p>Autorización de representación de la empresa <i class="step fi-archive size-24"></i></p>-->
              <%# end if !agent.file_allow_data.blank? && !agent.from.blank?%>
        </fieldset>
      <% end %>
    <%else%>
      <div class="row">
          <div class="small-12 medium-12 columns">
            <p>
              <%= t('organizations.show.agents_none') %>
            </p>
          </div>
        </div>
      <%end%>
  </fieldset>

  <% if organization.attachments.present? %>
    <fieldset>
      <legend>Documentos Adjuntos:</legend>
      <% organization.attachments.each_with_index do |attachment, index| %>

        <div class="row">
          <div class="small-12 columns">
            <p>
              <i><strong>Archivo <%= index + 1  %></strong></i>
            </p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="small-3 medium-6 columns">
            <p>
              <%= link_to attachment.file.original_filename, attachment.file.url %>
            </p>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <fieldset>
    <legend><%= t('backend.terms.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 column">
        <p>
          <%= check_box_tag :certain_term, nil, organization.certain_term, disabled: true %> <%= t('backend.terms.certain_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
        <p>
          <%= check_box_tag :code_of_conduct_term, nil, organization.code_of_conduct_term, disabled: true %> <%= t('backend.terms.code_of_conduct_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
         <p>
          <%= check_box_tag :other_term, nil, organization.other_term, disabled: true %> <%= t('backend.terms.other_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
        <p>
          <%= check_box_tag :gift_term, nil, organization.gift_term, disabled: true %> <%= t('backend.terms.gift_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
        <p>
          <%= check_box_tag :lobby_term, nil, organization.lobby_term, disabled: true %> <%= t('backend.terms.lobby_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
         <p>
          <%= check_box_tag :public_term, nil, organization.public_term, disabled: true %> <%= t('backend.terms.public_term') %>
        </p>
      <div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 column">
         <p>
          <%= check_box_tag :communication_term, nil, organization.communication_term, disabled: true %> <%= t('backend.terms.communication_term') %>
        </p>
      </div>
    </div>
  </fieldset>
</div>
</fieldset>
