<div class="row">
    <div class="small-12 medium-6 columns" >
        <%= link_to t('backend.back'), active_admin_notifications_path , class: "button tiny radius" %>
    </div>
</div>

<%= form_for @organization, :url => {:controller => "notifications", :action => "update_notification", params: {:id => @notification.id}}, html: { class: 'organization-form' }, method: "Post" do |f| %>

  <%= render 'organization_errors', f: f %>
  <%= hidden_field_tag :id, @notification.id %>
  <fieldset>
    <legend><%=t('backend.notification_tabs.notification_data')%></legend>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:id) %></strong></p>
            <p><%= @notification.id.blank? ? "<br>".html_safe : @notification.id %></p>
        </div>
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:full_name) %></strong></p>
            <p><%= @notification.full_name.blank? ? "<br>".html_safe :  @notification.full_name %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:type_action) %></strong></p>
            <p><%= select_tag :type_anotation, options_for_select(Notification.get_cod_tipos_array, @notification.type_anotation) %></p>
        </div>
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:status) %></strong></p>
            <p><%=  @notification.status.blank? ? "<br>".html_safe : @notification.status %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:status_date) %></strong></p>
            <p><%= @notification.status_date.blank? ? "<br>".html_safe : @notification.status_date %></p>
        </div>
         <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:created_at_convert) %></strong></p>
            <p><%= @notification.created_at_convert.blank? ? "<br>".html_safe : @notification.created_at_convert %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:errors_detected) %></strong></p>
            <p><%= @notification.errors_detected.blank? ? "<br>".html_safe : @notification.errors_detected.html_safe %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:reject_reasons) %></strong></p>
            <p><%= @notification.reject_reasons.blank? ? "<br>".html_safe : @notification.reject_reasons.html_safe %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:recover_reasons) %></strong></p>
            <p><%= @notification.recover_reasons.blank? ? "<br>".html_safe : @notification.recover_reasons.html_safe %></p>
        </div>
    </div>
     <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:observations) %></strong></p>
            <p><%= text_area_tag :observations, @notification.observations %></p>
        </div>
    </div>
  </fieldset>

  <%= render 'admin/organizations/form/reference', f: f %>
  <%= render 'admin/organizations/form/data', f: f %>
  <%= render 'admin/organizations/form/legal_representant', f: f %>
  <%= render 'admin/organizations/form/notification_effect', f: f %>
  <%= render 'admin/organizations/form/user', f: f, notification: true %>
  <%= render 'admin/organizations/form/lobby_data', f: f %>
  <%= render 'admin/organizations/form/represented_entities', f: f %>
  <%= render 'admin/organizations/form/terms', f: f %>

  <div class="small-4 medium-3 large-2 column">
    <%= submit_tag t('backend.save'), class: "button radius success right" %>
  </div>

<% end %>

<%= javascript_include_tag 'organizations'%>