<li class="accordion-navigation active">
    <div class="accordion-title">
        <%= t('organizations.show.identifier_title') %>
        <span class="accordion-icon"></span>
    </div>
    <div class="content active">
        <% if organization.try(:id).present? %>
            <div class="row">
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.id') %></strong>
                        <%= organization.try(:id) %>
                    </p>
                </div>
            </div>
            <br>
        <% end %>
        <% if organization.try(:identifier).present? || organization.try(:fullname).present? %>
            <div class="row">
                <% if organization.try(:identifier).present? %>
                    <div class="small-12 medium-6 columns">
                        <p>
                            <strong><%= t('organizations.show.identifier') %></strong>
                            <%= (organization.try(:is_physical_person) || organization.is_person || (organization.identifier_type != "NIF" && organization.identifier_type != "DNI/NIF")) ? "-" : organization.try(:identifier) %>
                        </p>
                    </div>
                <% end %>

                <% if organization.try(:fullname).present? %>
                    <div class="small-12 medium-6 columns">
                        <p>
                            <strong><%= t('organizations.show.name') %> </strong>
                            <%= organization.try(:fullname) %>
                        </p>
                    </div>
                <% end %>
            </div>
            <br>
        <% end %>
        <%=render "organizations/show_partials/address_data", model: organization%>
        <% if organization.try(:category).try(:name).present? %>
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <p>
                        <strong><%= t('organizations.show.category') %> </strong>
                        <%= organization.try(:category).try(:name)  %>
                    </p>
                </div>
            </div>
            <br>
        <% end %>
        <% if organization.try(:description).present? %>
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <p>
                        <strong><%= t('organizations.show.description') %> </strong>
                    </p>
                    <%= organization.try(:description).html_safe if organization.description? %>                    
                </div>
            </div>
            <br>
        <% end %>
        <%= render "organizations/show_partials/interests_data", organization: organization%>
        <br>
        <div class="row">
            <div class="small-12 medium-12 columns">
                <p>
                    <strong><%= t('backend.identifying_data.registered_lobbies_public_title') %></strong>
                    <% if organization.try(:registered_lobbies).where.not(name: '').present? && organization.try(:registered_lobbies).count > 0 && organization.registered_lobbies.where(name: 'Ninguno').blank? %>
                        
                        <%= t(true) %><br>
                        <% organization.registered_lobbies.each do |registered_lobby| %>
                            <%= "<p>- #{registered_lobby.name}</p>".html_safe if !registered_lobby.name.blank? && registered_lobby.name != options_for_registered_lobby.last[0].to_s%>
                            <%= "<p>- #{registered_lobby.name}: #{organization.other_registered_lobby_desc}</p>".html_safe if !registered_lobby.name.blank? && registered_lobby.name == options_for_registered_lobby.last[0].to_s%>
                        <% end %>
                    <% else %>
                        <%= t(false) %>
                    <% end %>
                </p>
            </div>
        </div>
        <% if organization.try(:web).present? %>
            <br>
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <p>
                        <strong><%= t('organizations.show.web') %> </strong>
                        <%= organization.try(:web) %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</li>