<div class="row">
    <div class="small-12 medium-6 columns" style="float: left">
        <p>
            <strong><%= t('organizations.show.interests_title') %></strong>
        </p>
        <ul>
            <% if organization.try(:interests).present? %>
                <% organization.try(:interests).each do |interest| %>
                <li>
                    <p>- <%= interest.try(:name) %></p>
                </li>
                <% end %>
            <% else %>
                <%= t('organizations.show.no_results') %>
            <% end %>
        </ul>
    </div>
</div>
