<li class="accordion-navigation active">
  <div class="accordion-title">
    <%= t('organizations.show.fiscal_year_title') %>
    <span class="accordion-icon"></span>
  </div>
  <div class="content active">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p>
                <strong><%=t('backend.lobbies_data.own_lobby_activity')%></strong>
                <%= t(organization.try(:own_lobby_activity).to_s) %>
            </p>
        </div>
    </div>
    <br>
    <% if organization.try(:own_lobby_activity) %>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <p>
            <strong><%= t('organizations.show.fiscal_year') %></strong>
            <%= organization.try(:fiscal_year).present? ? organization.try(:fiscal_year) : "Sin año" %>
          </p>
        </div>
        <div class="small-12 medium-6 columns">
          <p>
            <strong><%= t('backend.lobbies_data.range_fund_title') %></strong>
            <% if organization.try(:range_fund).present? %>
              <%= t("backend.lobbies_data.range_fund.#{organization.range_fund}") %>
            <% end %>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            <strong><%= t('organizations.show.lobbies_data.in_group_public_administration') %>
              <%= organization.try(:in_group_public_administration).nil? ? "" :  organization.try(:in_group_public_administration) == true ? t(organization.try(:in_group_public_administration)) : 
              (!organization.try(:inscription_date).blank? && organization.inscription_date.to_date >= '20-03-2021'.to_date || !organization.try(:renovation_date).blank? && organization.renovation_date.to_date >= '20-03-2021'.to_date || 
              !organization.try(:modification_date).blank? && organization.modification_date.to_date >= '20-03-2021'.to_date)  ? 
              t(organization.try(:in_group_public_administration)) : "" %>
            </strong>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            <strong>
              <%= t('organizations.show.lobbies_data.subvention') %>
                <%= organization.try(:subvention).nil? ? "-" : t(organization.try(:subvention)) %>
            </strong>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            <strong><%= t('organizations.show.lobbies_data.subvention_public.administration') %>
              <%= organization.try(:subvention_public_administration).nil? ? "" :  organization.try(:subvention_public_administration) == true ? t(organization.try(:subvention_public_administration)) : 
              (!organization.try(:inscription_date).blank? && organization.inscription_date.to_date >= '20-03-2021'.to_date || !organization.try(:renovation_date).blank? && organization.renovation_date.to_date >= '20-03-2021'.to_date || 
              !organization.try(:modification_date).blank? && organization.modification_date.to_date >= '20-03-2021'.to_date) ? 
              t(organization.try(:subvention_public_administration)) : "" %>
          
              <% if organization.subvention_public_administration %>
                <% organization.range_subventions.each do |range| %>
                  <div class="row">
                    <div class="small-12 medium-6 columns" style="padding-left: 40px;">
                      <p>
                        <strong><%= t('organizations.show.lobbies_data.subvention_public.administration_import') %></strong>
                        <%= range.import %>
                      </p>
                    </div>
                    <div class="small-12 medium-6 columns">
                      <p>
                        <strong><%= t('organizations.show.lobbies_data.subvention_public.administration_entity_name') %></strong>
                        <%= range.entity_name %>
                      </p>
                    </div>
                  </div>
                  <br>
                <%end%>
              <%end%>
            </strong>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            <strong>
              <%= t('organizations.show.lobbies_data.contract') %>
              <%= organization.try(:contract).nil? ? "-" : t(organization.try(:contract)) %>
            </strong>
          </p>
        </div>
      </div>
      <br>
      <% if permit_category_with_money(organization) || permit_category_without_money(organization) %>
        <% if permit_category_with_money(organization)  %>
          <div class="row">
            <div class="small-12 medium-12 columns">
              <p>
                <strong><%= t('organizations.show.private_entity_with') %>:</strong>                
                <div class="row">
                  <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                      <p>
                        <strong><%= t('backend.lobbies_data.contract_turnover') %></strong>
                        <%= organization.contract_turnover %>
                      </p>
                  </div>
                </div>
              </p>
            </div>
          </div>
        <%end%>
        <% if permit_category_without_money(organization) %>
          <div class="row">
            <div class="small-12 medium-12 columns">
              <p>
                <strong><%= t('organizations.show.private_entity_without') %>:</strong>
                <div class="row">
                  <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                      <p>
                        <strong><%= t('backend.lobbies_data.contract_total_budget') %></strong>
                        <%= organization.contract_total_budget %>
                      </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                      <p>
                        <strong><%= t('backend.lobbies_data.contract_breakdown') %></strong>
                        <%= organization.contract_breakdown %>
                      </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                      <p>
                        <strong><%= t('backend.lobbies_data.contract_financing') %></strong>
                        <%= organization.contract_financing %>
                      </p>
                  </div>
                </div>
              </p>
            </div>
          </div>
        <%end%>
      <%end%>
    <% else %>
      <%= t('organizations.show.no_results') %>
    <% end %>
  </div>
</li>
