<li class="accordion-navigation active">
  <div class="accordion-title">
    <%= t('organizations.show.represented_entity_title') %>
    <span class="fa accordion-icon"></span>
  </div>
  <div class="content active">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <p>
          <strong><%= t('backend.lobbies_data.foreign_lobby_activity')%></strong>
          <%= t(organization.foreign_lobby_activity.to_s) %>
        </p>
      </div>
    </div>
    <% if @organization.represented_entities.present? && @organization.foreign_lobby_activity %>
      <% @organization.represented_entities.each_with_index do |represented_entity, index|%>
        <fieldset>
          <legend><i><strong><%= t('backend.represented_entities.company') %> <%= index + 1 %></strong></i></legend>
          <fieldset>
            <legend><strong><%= t('backend.represented_entities.title_identifier') %></strong></legend>
            <div class="row">
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.identifier') %></strong>
                  <%= represented_entity.identifier %>
                </p>
              </div>
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.name') %></strong>
                  <%= !represented_entity.business_name.blank? ?  represented_entity.business_name : represented_entity.name %>
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.first_surname') %></strong>
                  <%= represented_entity.first_surname %>
                </p>
              </div>
              <div class="small-6 medium-6 columns">
                <p>
                  <strong><%= t('backend.represented_entities.second_surname') %></strong>
                  <%= represented_entity.second_surname %>
                </p>
              </div>
            </div>
            <br>
            <%=render "organizations/show_partials/address_data", model: represented_entity%>
            <% if represented_entity.try(:category).try(:name).present? %>
              <div class="row">
                <div class="small-12 medium-12 columns">
                  <p>
                    <strong><%= t('organizations.show.category') %> </strong>
                    <%= represented_entity.try(:category).try(:name)  %>
                  </p>
                </div>
              </div>
            <% end %>
          </fieldset>
          <fieldset>
            <legend><strong><%= t('backend.represented_entities.title_data') %></strong></legend>
            <div class="row">
              <%if !represented_entity.from.blank?%>
                <div class="small-12 medium-6 columns" style="float: left">
                  <p>
                    <strong><%= t('backend.represented_entities.from') %></strong>
                    <%= l(represented_entity.from) if !represented_entity.from.blank? %>
                  </p>
                </div>
              <%end%>
              <% if !represented_entity.to.blank?%>
                <div class="small-12 medium-6 columns" style="float: left">
                  <p>
                    <strong><%= t('backend.represented_entities.to') %></strong>
                    <%= l(represented_entity.to) if !represented_entity.to.blank? %>
                  </p>
                </div>
              <%end%>
            </div>
            <br>
            <div class="row">
              <div class="small-12 medium-6 columns" style="float: left">
                <p>
                  <strong><%= t('backend.represented_entities.fiscal_year') %></strong>
                  <%= represented_entity.fiscal_year %>
                </p>
              </div>
              <div class="small-12 medium-6  columns" style="float: left">
                <p>
                  <strong><%= t('backend.represented_entities.range_fund_title') %></strong>
                  <%= t("backend.represented_entities.range_fund.#{represented_entity.range_fund}") if !represented_entity.range_fund.blank? %>
                </p>
              </div>
            </div>
            <br>
            <!--<div class="row">
              <div class="small-12 medium-12 columns">
                <p>
                  <strong><%#= t('backend.lobbies_data.subvention_public_administration') %></strong>
                  <%#= t(represented_entity.subvention_public_administration.to_s) %>
              
                  <%# if represented_entity.subvention_public_administration %>
                    <%# represented_entity.range_subventions.each do |range| %>
                      <div class="row">
                        <div class="small-12 medium-6 columns" style="padding-left: 40px;">
                          <p>
                            <strong><%#= t('backend.range_subvention.import') %></strong>
                            <%#= range.import %>
                          </p>
                        </div>
                        <div class="small-12 medium-6 columns">
                          <p>
                            <strong><%#= t('backend.range_subvention.entity_name') %></strong>
                            <%#= range.entity_name %>
                          </p>
                        </div>
                      </div>
                      <br>
                    <%#end%>
                  <%#end%>
                </p>
              </div>
            </div>
            <br>-->
            <%if !represented_entity.subvention.blank?%>
            <div class="row">
              <div class="small-12 medium-12 columns">
                <p>
                  <strong><%= t('backend.lobbies_data.subvention') %></strong>
                  <%= t(represented_entity.subvention.to_s) %>
                </p>
              </div>
            </div>
            <br>
            <%end%>
            <%if !represented_entity.contract.blank?%>
            <div class="row">
              <div class="small-12 medium-12 columns">
                <p>
                  <strong><%= t('backend.lobbies_data.contract') %></strong>
                  <%= t(represented_entity.contract.to_s) %>
                </p>
              </div>
            </div>
            <br>
            <%end%>
            <!--<%# if permit_category_with_money(represented_entity) || permit_category_without_money(represented_entity) %>
              <%# if permit_category_with_money(represented_entity)  %>
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <p>
                      <strong><%#= t('organizations.show.private_entity_with') %>:</strong>                
                      <div class="row">
                        <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                            <p>
                              <strong><%#= t('backend.lobbies_data.contract_turnover') %></strong>
                              <%#= represented_entity.contract_turnover %>
                            </p>
                        </div>
                      </div>
                    </p>
                  </div>
                </div>
              <%#end%>
              <%# if permit_category_without_money(represented_entity) %>
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <p>
                      <strong><%#= t('organizations.show.private_entity_without') %>:</strong>
                      <div class="row">
                        <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                            <p>
                              <strong><%#= t('backend.lobbies_data.contract_total_budget') %></strong>
                              <%#= represented_entity.contract_total_budget %>
                            </p>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                            <p>
                              <strong><%#= t('backend.lobbies_data.contract_breakdown') %></strong>
                              <%#= represented_entity.contract_breakdown %>
                            </p>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="small-12 medium-12 columns" style="padding-left: 40px;">
                            <p>
                              <strong><%#= t('backend.lobbies_data.contract_financing') %></strong>
                              <%#= represented_entity.contract_financing %>
                            </p>
                        </div>
                      </div>
                    </p>
                  </div>
                </div>
              <%#end%>
            <%#end%>-->
          </fieldset>
        </fieldset>
      <%end%>
    <% else %>
      <%= t('organizations.show.no_results') %>
    <% end %>
  </div>
</li>