<div class="small-12 medium-6 large-8 large-ofsset-1 columns ml40">    
    <div id="list" style= "visibility:inherit; display:block;">
        <%if !@paginated_events.blank?%>
            <%= render "paginate_events", export: true%>
            <% @paginated_events.each do |event|%>
                <%= render "visitors/event", event: event %>
            <% end %>
            <%= render "paginate_events"%>
        <%else%>
            <% if !@date_start.blank? && (params[:advanced_search].blank? || params[:advanced_search] == 'calendar') %>
                <p>No hay eventos en el listado <%= " en el periodo: #{@date_start.strftime("%d/%m/%Y")} #{"- #{@date_end.strftime("%d/%m/%Y")}" if !@date_end.blank?}" %></p>
            <% else %>
                <p>No hay eventos en el listado</p>
            <% end %>
        <%end%>
    </div>
</div> 