<% if params[:advanced_search].blank? || params[:advanced_search] == 'calendar' %>
    <%= form_tag current_path_with_query_params(params), method: :get, class: 'dates_form' do %>
        <%= hidden_field_tag :tab_calendar, params[:tab_calendar] %>
        <%= hidden_field_tag :set_date, params[:set_date] %>
        <div class="mb20">
            <div class="small-12 columns calendar_columns">
                <div class="small-4 columns calendar_columns">
                    <%=label_tag :select_day, "Día", class: "sr-only" %>
                    <%= select_day(@current_date_calendar,{prefix: :select},{onchange: "send_form()"})%>
                </div>
                <div class="small-4 columns calendar_columns">
                    <%=label_tag :select_month, "Mes", class: "sr-only" %>
                    <%= select_month(@current_date_calendar,{prefix: :select},{onchange: 'send_form()'})%>
                </div>
                <div class="small-4 columns calendar_columns">
                    <%=label_tag :select_year, "Año", class: "sr-only" %>
                    <%= select_year(@current_date_calendar, {prefix: :select,start_year: 2005},{onchange: 'send_form()'})%>
                </div>
            </div>           
            <div class="small-12 columns" style="padding: 0px;overflow-x:auto;">   
                <table class="table table-striped" style="width: 100%">
                    <thead><tr><%=get_week_first_monday%></tr></thead>
                    <tbody><%=get_days_month_range(@current_date_calendar, @unpaginated_events, params)%></tbody>
                </table>
            </div>
            <div class="small-4 columns" style="padding: 3px;">
                <%=link_to t("calendar.week"), set_tab_calendar(params, "week",@current_date_calendar), class: "button #{"secondary" if params[:tab_calendar].to_s!= "week"} calendar_buttons"%>
            </div>
            <div class="small-4 columns" style="padding: 3px;">
                <%=link_to t("calendar.month"), set_tab_calendar(params, "month",@current_date_calendar), class: "button #{"secondary" if params[:tab_calendar].to_s!= "month"} calendar_buttons"%>
            </div>
            <div class="small-4 columns" style="padding: 3px;">
                <%= link_to t("calendar.now"), set_now_calendar(params), class: "button #{"secondary" if (!@current_date_calendar.blank? &&  @current_date_calendar != Date.today||!params[:set_date].blank? && params[:set_date].to_date != Date.today || !params[:tab_calendar].blank? && params[:tab_calendar] != 'today') } calendar_buttons" %>
            </div>
        </div>
        <div class="mb20" >
            <div class="small-12 columns">
                <%= label_tag :holder, t('main.form.holder'), class: 'title-s' %>
                <%= select_tag :holder, options_for_select(@holders.try{|x| x.map{|holder| [holder.full_name_comma_with_active, holder.id]}},params[:holder]),prompt: t('main.form.any'), class: 'dropdown js-example-basic-multiple', style: "width: 100%", onchange: 'this.form.submit()' %>
            </div>
        </div>
        <div class="mb20 text-center" >
            <%= link_to t('main.form.reset_calendar'), visitors_path(advanced_search: "calendar"), class: 'button secondary', style:'margin-top: 2rem;'%>
        </div>
        <div class="mb20 text-center">
            <%= link_to t('main.form.advanced_search'), visitors_path(advanced_search: "advanced"), class: 'button'%>
        </div>
    <%end%>
<% else %>
    <%= render 'form' %>
<% end %>