<% export ||= false%>
<div class="small-<%=export ? '10' : '12'%> columns mb20">
    <% if !@date_start.blank? && (params[:advanced_search].blank? || params[:advanced_search] == 'calendar') %>
        <%= page_entries_info @paginated_events %> <%= " en el periodo: #{@date_start.strftime("%d/%m/%Y")} #{"- #{@date_end.strftime("%d/%m/%Y")}" if !@date_end.blank?}" %>
    <% else %>
        <%= page_entries_info @paginated_events %>
    <% end %>
    <%= paginate @paginated_events, params: {:select => {:day => @current_date_calendar.try(:day), :month => @current_date_calendar.try(:month), :year => @current_date_calendar.try(:year) }} %>
</div>
<%if export%>
    <div class="small-2 columns mb20">
        <%= export_link(current_url(format: :csv)) %>
    </div>
<%end%>