<% content_for(:body_class) { 'visit-visitors-events' } %>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <%= render 'month_calendar' %>
  </div>
  <%= render 'list_events' %>
</div>
