<%=
  exporter = EventsExporter.new

  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    csv << exporter.windows_headers

    if !@events.blank?
      @events.each do |event|
        csv << exporter.windows_event_row(event)
      end
    end
  end.html_safe
%>
