<div class="row">
    <div class="small-6 medium-8 column">
        <h1>
            <%= t('backend.manage_mails.title')%>
        </h1>
    </div>
</div>

<div class="row">
  <table id="listing" class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.manage_mails.type')%></th>
        <th><%= t('backend.manage_mails.subject')%></th>
        <th><%= t('backend.manage_mails.cc')%></th>
        <th><%= t('backend.manage_mails.cco')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.manage_mails.type')%></th>
        <th><%= t('backend.manage_mails.subject')%></th>
        <th><%= t('backend.manage_mails.cc')%></th>
        <th><%= t('backend.manage_mails.cco')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
       <% @mails.each do |mail| %>
            <tr>
                <td><%= t("backend.manage_mails.#{ mail.try(:type_data)}") %></td>
                <td><%= mail.try(:subject) %></td>
                <td><%= mail.try(:fields_cc) %></td>
                <td><%= mail.try(:fields_cco) %></td>
                <td>
                    <%= link_to edit_admin_manage_email_path(mail), title: t('backend.manage_mails.edit') do%>
                      <i class='fi-pencil size-18'></i>
                    <%end%>
                </td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>