
<% unless params[:type_mail].blank? %>
    <div class="row" style="margin-bottom:10px">
        <div class="small-3 medium-2 column"><%= label_tag :sender, t("backend.manage_mails.to") %></div>
        <div class="small-9 medium-10 column">
        <% if params[:type_mail] == "gestor"%>
            <% @holder.users.each do |e|%>
                <%=label_tag e.email%>
            <% end %>
        <% else %>
            <%= label_tag @holder.user_email %>
        <% end %>
        </div>
    </div>
<% end %>
<%=f.hidden_field :type_data %>
<div class="row">
    <div class="small-3 medium-2 column mt-10"><%= f.label :sender, t("backend.manage_mails.sender_") %></div>
    <div class="small-9 medium-10 column"><%= f.text_field :sender %></div>
</div>
<div class="row">
    <div class="small-3 medium-2 column mt-10"><%= f.label :fields_cc, t("backend.manage_mails.cc") %></div>
    <div class="small-9 medium-10 column"><%= f.text_field :fields_cc %></div>
</div>
<div class="row">
    <div class="small-3 medium-2 column mt-10"><%= f.label :fields_cco, t("backend.manage_mails.cco") %></div>
    <div class="small-9 medium-10 column"><%= f.text_field :fields_cco %></div>
</div>
<div class="row">
    <div class="small-3 medium-2 column mt-10"><%= f.label :subject, t("backend.manage_mails.subject") %></div>
    <div class="small-9 medium-10 column"><%= f.text_field :subject %></div>
</div>
<div class="row">
    <%= f.text_area :email_body, :class => "tinymce", :rows => 12, :cols => 10 %>
</div>

