<%= form_for [:admin, @mail], html: {class: 'question-form'} do |f| %>
    <div class="row">
        <div class="small-12 medium-8 column">
            <h1><%= t('backend.manage_mails.title_edit')%></h1>
            <br>
            <h5><%= t('backend.manage_mails.type_mail')%> <%=t("backend.manage_mails.#{f.object.type_data}") %></h5>
            <br>
        </div>
        <div class="small-12 medium-12 column" style= "color:#928f8f">
            <%if f.object.type_data == "Organizations" %>
                <%= t('backend.manage_mails.information_5').html_safe %>
            <%else%>
                <% if  ["LobbyModificationManual", "LobbyModificationNotification", "LobbyRenovation", "LobbyCanceled", "LobbyExpiresToday", "LobbyOneMonthToExpiration"].include?(f.object.type_data) %>
                    <% if ["LobbyModificationManual", "LobbyModificationNotification", "LobbyRenovation", "LobbyCanceled"].include?(f.object.type_data) %>
                        <p><%= t('backend.manage_mails.information_6') %></p>
                        <p><%= t('backend.manage_mails.information_9') %></p>
                    <% end %>
                    <% if f.object.type_data == "LobbyCanceled" %>
                        <p><%= t('backend.manage_mails.information_7') %></p>
                    <% end %>
                    <% if ["LobbyModificationManual", "LobbyModificationNotification"].include?(f.object.type_data)%>
                        <p><%= t('backend.manage_mails.information_8') %></p>
                    <% end %>
                    <% if ["LobbyExpiresToday", "LobbyOneMonthToExpiration", "LobbyRenovation"].include?(f.object.type_data) %>
                        <p><%= t('backend.manage_mails.information_11') %></p>
                    <% end %>
                    <% if ["LobbyRenovation"].include?(f.object.type_data) %>
                        <p><%= t('backend.manage_mails.information_12') %></p>
                    <% end %>
                    <% if ["LobbyRenovation", "LobbyModificationManual", "LobbyModificationNotification"].include?(f.object.type_data) %>
                        <p><%= t('backend.manage_mails.information_10') %></p>
                    <% end %>
                <% elsif f.object.type_data != "Events" && f.object.type_data != "NoEvents" %>
                    <p><%= t('backend.manage_mails.information')%></p>
                    <p><%= t('backend.manage_mails.information_2') %></p>
                <% else %>
                    <p><%= t('backend.manage_mails.information')%></p>
                    <p><%= t('backend.manage_mails.information_3') %></p>
                    <p><%= t('backend.manage_mails.information_4') %></p>
                <%end%>
            <%end%>
        </div>
    </div>
    <% if @mail.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header', :model => ManageEmail.model_name.human, :count => @mail.errors.count) %></strong>
          <ul>
            <% @mail.errors.full_messages.each do |msg| %>

                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
        <legend><%= t('backend.manage_mails.info') %></legend>
        <%= render partial: "mail_format", locals: {f: f, type: "edit"}%>
    </fieldset>
        <%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %>
        <%= link_to t('backend.back'), admin_parametrizations_path , :class=> "button tiny radius" %>
<% end %>