<li class="accordion-navigation active lobbies-categories">
    <div class="accordion-title">
    <%= t'statistics.category_lobbies' %>
    </div>
    <div class="content active">
    <table>
        <thead>
        <tr>
            <th style="width: 90%">
            <%= t'statistics.category' %>
            </th>
            <th class="text-center">
            <%=@count_all%>
            </th>
        </tr>
        </thead>
        <tbody>
        <% @lobbies_categories_old.each do |name , number| %>
        <tr>
            <%= name.mb_chars %>
            <td class="text-center">
            <%= number %>
            </td>
        </tr>
        <% end %>
        <% @lobbies_categories_new.each do |name , number| %>
        <tr>
            <%= name %>
            <td class="text-center">
            <%= number %>
            </td>
        </tr>
        <% end %>
        </tbody>
    </table>
    </div>
</li>