<li class="accordion-navigation active">
    <div class="accordion-title"><%= t'statistics.description_lobbies' %></div>
    <div class="content active">
        <table>
            <tbody>
                <tr>
                    <td class="border-right">
                        <strong><%= t('statistics.all_lobbies.total') %></strong>
                        <div class="active-lobbies"><%=@all_lobbies.count%></div>
                    </td>
                    <td class="border-right">
                        <strong><%= t('statistics.active_lobbies.total') %></strong>
                        <div class="active-lobbies"><%=@active_lobbies.count%></div>
                    </td>
                </tr>
                <tr>
                    <td class="border-right">
                        <strong><%= t('statistics.all_lobbies.self_employed') %></strong>
                        <div class="self-employed-count"><%= own_lobby_activity(@all_lobbies).count %></div>
                    </td>
                    <td class="border-right">
                        <strong><%= t('statistics.active_lobbies.self_employed') %></strong>
                        <div class="self-employed-count"><%= own_lobby_activity(@active_lobbies).count %></div>
                    </td>
                </tr>
                <tr>
                    <td class="border-right">
                        <strong><%= t('statistics.all_lobbies.employed') %></strong>
                        <div class="employed-count"><%= foreign_lobby_activity(@all_lobbies).count %></div>
                    </td>
                    <td class="border-right">
                        <strong><%= t('statistics.active_lobbies.employed') %></strong>                
                        <div class="employed-count"><%= foreign_lobby_activity(@active_lobbies).count %></div>
                    </td>
                </tr>
                <tr>
                    <td class="border-right">
                        <strong><%= t('statistics.all_lobbies.self_employed_and_employed') %></strong>
                        <div class="employed-count"><%= own_and_foreign_lobby_activity(@all_lobbies).count %></div>
                    </td>
                    <td class="border-right">
                        <strong><%= t'statistics.active_lobbies.self_employed_and_employed' %></strong>
                        <div class="employed-count"><%= own_and_foreign_lobby_activity(@active_lobbies).count %></div>
                    </td>
                </tr>
                <tr>
                    <td class="border-right">
                        <strong><%= t('statistics.all_lobbies.agents') %></strong>
                        <div class="active-agents-count"><%= lobbies_active_agents(@all_lobbies).count %></div>
                    </td>
                    <td class="border-right">
                        <strong><%= t('statistics.active_lobbies.agents') %></strong>
                        <div class="active-agents-count"><%= lobbies_active_agents(@active_lobbies).count %></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</li>