
    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t 'statistics.public_agendas' %>
      </div>
      <div class="content active">
        <table>
          <tbody>
            <tr>
              <td>
                <strong><%= t'statistics.lobby_events' %></strong>
              </td>
              <td class="text-center">
                <span class="lobby-activity">
                  <%= @event_lobby_activity %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= t('statistics.total_events', year: @old_year) %></strong>
              </td>
              <td class="text-center">
                <span class="events-count">
                  <%= @events_count %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= t'statistics.amount_public_agendas' %></strong>
              </td>
              <td class="text-center">
                <span class="holders-count">
                  <%= @holders_count %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>