 <li class="accordion-navigation active lobbies-interests">
      <div class="accordion-title">
        <%= t'statistics.interest_lobbies' %>
      </div>
      <div class="content active">
        <table>
          <thead>
            <tr>
              <th style="width: 90%">
                <%= t'statistics.interest' %>
              </th>
              <th class="text-center">
                <%=@count_all_interest%>
              </th>
            </tr>
          </thead>
          <tbody>
            <%@lobbies_interests.each do |name , number| %>
              <tr>
                <td>
                  <%= name.mb_chars %>
                </td>
                <td class="text-center">
                  <%= number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>
