<% content_for(:body_class) { 'visit-statistics' } %>

<div class="small-12 column statistics">
  <%= link_to t('backend.back'), registration_lobbies_path , :class=> "button tiny radius" %>

  <ul class="accordion">
    <%=render "areas"%>
    <%=render "interests"%>   
    <%=render "informing"%>
    <%=render "informing_generic"%>
  </ul>
</div>
