<%= f.fields_for :filter_fields, @export.filter_fields do |f| %>
  <fieldset>
    <legend><%= t('backend.exports.filter') %></legend>
    <div class="row" >
      <div class="columns medium-7">
        <div class="small-12 medium-6 columns">
          <%= f.label(:title, t("backend.exports.title"), class: 'title-s') %>
          <%= f.text_field :title, placeholder: t('backend.exports.title'), value: @export.filter_fields['title'] %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label(:people, t("backend.exports.people"), class: 'title-s') %>
          <%= f.text_field :people, placeholder: t('backend.exports.people'), value: @export.filter_fields['people']  %>
        </div>

        <div class="small-12 medium-12 columns mt5">
          <div class="small-6 medium-6 columns">
            <%= f.label(:start_date, t("backend.exports.start_date"), class: 'title-s') %>
            <%= f.date_field :start_date, as: :date, value: (@export.filter_fields['start_date'].blank? ? false : @export.filter_fields['start_date'].to_date), placeholder: t("backend.exports.start_date"), onchange: "validation_date(0)"%>
          </div>
          <div class="small-6 medium-6 columns">
            <%= f.label(:end_date, t("backend.exports.end_date"), class: 'title-s') %>
            <%= f.date_field :end_date, as: :date, value: (@export.filter_fields['end_date'].blank? ? false : @export.filter_fields['end_date'].to_date), placeholder: t("backend.exports.end_date"), onchange: "validation_date(1)"%>
          </div>
        </div>
        
        <div class="small-12 medium-12 columns">
          <div class="small-6 medium-6 columns">
            <%= f.label(:start_date_published, t("backend.exports.start_date_published"), class: 'title-s') %>
            <%= f.date_field :start_date_published, as: :date, value: (@export.filter_fields['start_date_published'].blank? ? false : @export.filter_fields['start_date_published'].to_date), placeholder: t("backend.exports.start_date_published"), onchange: "validation_date(0)"%>
          </div>
          <div class="small-6 medium-6 columns">
            <%= f.label(:end_date_published, t("backend.exports.end_date_published"), class: 'title-s') %>
            <%= f.date_field :end_date_published, as: :date, value: (@export.filter_fields['end_date_published'].blank? ? false : @export.filter_fields['end_date_published'].to_date), placeholder: t("backend.exports.end_date_published"), onchange: "validation_date(1)"%>
          </div>
        </div>
      </div>

      <div class="columns medium-5">
        <div class="small-12 medium-12 columns event-status-search-options">
          <small><a href="#" style="float:right" data-tooltip-custom="<%= t("backend.search.tool_tips_multiple_selection") %>"><%= t("backend.search.multiple_selection") %></a></small>
          <%= f.label(:status, t('backend.exports.status'), class: 'title-s') %>
          <%= f.select(:status, [t('backend.exports.requested'), t('backend.exports.accepted'), t('backend.exports.done'), t('backend.exports.declined'), t('backend.exports.canceled')],{selected: @export.filter_fields['status'], :prompt => false}, { :multiple => true, :size => 5}) %> 
        </div>
      </div>
    </div>
  </fieldset>
<%end%>
