<%= form_for [:admin, @export], html: {class: 'admin-form'} do |f| %>
    <div class="row">
      <div class="columns medium-12">
        <fieldset>
          <legend><%= t('backend.exports.name') %></legend>
          <div class="row">
            <div class="small-12 medium-8 columns">
              <%= f.text_field  :name, placeholder: t('backend.exports.name') %>
            </div>
          </div>
        </fieldset>

      <%= f.fields_for :fields do |g| %>
        <fieldset>
        <legend><%= t('backend.exports.field') %></legend>
          <% if order_fields.count > 0 %>
            <div class="row">
              <div class="small-12 medium-6 columns"> 
                <%= link_to t("backend.all"), '',id: "all", :onclick => "checkUncheck(#{order_fields_to_s},true);" ,:remote => true, :class=> "button tiny radius" %> 
                <%= link_to t("backend.nothing"), '',id: "nothing", :onclick => "checkUncheck(#{order_fields_to_s},false);" , :remote => true, :class=> "button tiny radius" %>
              </div>
            </div>
            <hr>
          <%end%>

          <% order_fields.each_with_index do |o,index| %>
            <% if index.to_i%3 == 0 %>
              <% if index.to_i==0%>
                <div class="row">
              <% else %>
                </div>
                <div class="row">
              <%end%>
            <%end%>
            <div class="small-12 medium-4 columns">
              <%= g.check_box o,{checked: (@export.fields[o.to_s].blank? ? false : (@export.fields[o.to_s].to_s == "1" ? true : false))} %>
              <%= g.label(o, t("backend.exports.fields.#{o.to_s}")) %>
            </div> 
           <%end%>
           <%= "</div>".html_safe if order_fields.count > 0%>
        </fieldset>
      <% end %>
      
      <%= render 'filter_form', f: f %>
      <div class="small-12 medium-12 large-12 column">
        <%= submit_tag t('backend.save'), class: "button radius success right" %>
      </div>
    </div>
    

<%end%>