<div class="row">
    <div class="small-6 medium-8 column">
        <h1>
            <%= t('backend.exports.title_export')%> (<%= @exports.count %>)
        </h1>
    </div>
    <div class="small-6 medium-4 column">
        <%= link_to t('backend.exports.new_export'), new_admin_export_path, :class => "button radius warning right" if can? :create, Export %>
    </div>
</div>

<div class="row">
  <table id="listing" class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.id')%></th>
        <th><%= t('backend.name')%></th>
        <th><%= t('backend.exports.field')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.id')%></th>
        <th><%= t('backend.name')%></th>
        <th><%= t('backend.exports.field')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
        <% @exports.each do |export| %>
          <%count = 0%>
          <tr>
            <td><%= export.id %></td>
            <td><%= export.name %></td>
            <td><% order_fields.each do |key| %>
            <%#= key.to_s%>
              <%count = count + 1 if export.fields[key.to_s] == "1" %>
              <%= count == 1 ? t("backend.exports.fields.#{key}") : "- " + t("backend.exports.fields.#{key}") if export.fields[key.to_s] == "1" %>
            <%end%></td>
            <td>
              <%= link_to admin_export_path(export, :format => :csv), title: t('backend.download_csv') do %>
                <i class="step fi-archive size-24"></i>
              <%end%>
              <%= link_to edit_admin_export_path(export), title: t('backend.edit') do %>
                <i class="step fi-page-edit size-24"></i>
              <% end if can? :edit, Export %>
              <%= link_to admin_export_path(export), method: :delete, data: { confirm: t("backend.export_delete_confirm") }, title: t('backend.delete') do %>
                <i class="step fi-page-delete size-24"></i>
              <% end if can? :destroy, Export %>
            </td>
          </tr>
        <% end %> 
    </tbody>
  </table>
</div>