<%= form_for(@range_subvention) do |f| %>
  <% if @range_subvention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@range_subvention.errors.count, "error") %> prohibited this range_subvention from being saved:</h2>

      <ul>
      <% @range_subvention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
