<p id="notice"><%= notice %></p>

<h1>Listing Range Subventions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @range_subventions.each do |range_subvention| %>
      <tr>
        <td><%= link_to 'Show', range_subvention %></td>
        <td><%= link_to 'Edit', edit_range_subvention_path(range_subvention) %></td>
        <td><%= link_to 'Destroy', range_subvention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Range subvention', new_range_subvention_path %>
