<div id="<%= dom_id(f.object) %>" class="nested-fields">
<hr />
    <%= t('backend.meeting_lobby_activity_organization') %>
    <% if current_user.lobby? %>
        <%= f.hidden_field :organization_id, :value => current_user.organization_id, class: "event_organization_id" %>
        <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, class: "event_organization_name", :update_elements => {}, placeholder: t('backend.meeting_lobby_activity_input'), value: current_user.organization.fullname, readonly: true %>
    <% else %>
        <%= f.hidden_field :organization_id, class: "event_organization_id" %>
        <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, class: "event_organization_name" %>
    <% end %>
    <% if current_user.lobby? %>
    <div class="category-block">
        <div class="row">
        <div class="small-10 columns"><%= t('backend.meeting_lobby_category') %> <i class="event-category"><%= current_user.organization.category.name %> </i></div>
        <div class="small-2 columns"></div>
        </div>
        <hr />
    </div>
    <% else %>
    <div class="category-block" style="display: none" data-new-url="<%= organization_category_url_pattern %>">
        <div class="row">
        <div class="small-10 columns"><%= t('backend.meeting_lobby_category') %> <i class="event-category"></i></div>
        <div class="small-2 columns"></div>
        </div>
        <hr />
    </div>
    <% end %>

    <%= hidden_field_tag :organization_entity_type%>
    <%= render 'event_represented_entities', f: f %>
    <hr />
    <%= render 'event_agents', f: f %>
    <%= link_to_remove_association "Eliminar lobby", f, class: "button left medium radius alert link_to_remove_association" %>
</div>

