<div id="<%= dom_id(f.object) %>" class="nested-fields agents">
  <div class="small-12">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :event_id %>
    <div class="small-12 medium-8 columns">
      <%= f.label :name, t('backend.agents.name') %>
      <% if current_user.lobby? %>
        <%= f.select :name, options_for_select(Agent.where(organization_id: current_user.organization_id).order(:name,:first_surname,:second_surname).map {|x| ["#{x.name} #{x.first_surname} #{x.second_surname}".strip,"#{x.name} #{x.first_surname} #{x.second_surname}".strip]}, f.object.name), class: "large-8 columns unique", prompt: t('backend.select') %>
      <%else%>
        <% if f.object.id.present? || !f.object.try(:name).blank? %>
          <%= f.select :name, [[f.object.name, f.object.name]], class: "large-8 columns unique", prompt: t('backend.select') %>
        <% else %>
          <%= f.select :name, [], class: "large-8 columns unique", prompt: t('backend.select') %>
        <% end %>
      <%end%>
    </div>

    <div class="small-6 medium-4 columns">
      <%= link_to_remove_association "Eliminar", f, class: "button right tiny radius alert link_to_remove_association" %>
    </div>

  </div>
</div>
