<div id="<%= dom_id(f.object) %>" class="nested-fields">
  <div class="small-12">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :event_id %>
    <div class="small-12 medium-8 columns">
      <%= f.label :name, t('backend.represented_entities.name') %>
      <% if current_user.lobby? %>
        <%collection=RepresentedEntity.where(organization_id: current_user.organization_id).order(:business_name, :name,:first_surname,:second_surname).map {|x| [!x.business_name.blank? ? x.business_name : "#{x.name} #{x.first_surname} #{x.second_surname}",!x.business_name.blank? ? x.business_name : "#{x.name} #{x.first_surname} #{x.second_surname}"]}
          if current_user.organization.own_lobby_activity
            collection.push([current_user.organization.fullname,current_user.organization.fullname])
          end
        %>

        <%= f.select :name,options_for_select(collection, f.object.name), class: "large-8 columns unique", prompt: t('backend.select') %>
      <%else%>
        <% if f.object.id.present? || !f.object.try(:name).blank? %>
          <%= f.select :name, [[f.object.name, f.object.name]], class: "large-8 columns unique", prompt: t('backend.select') %>
        <% else %>
          <%= f.select :name, [], class: "large-8 columns unique", prompt: t('backend.select') %>
        <% end %>
      <% end %>
    </div>

    <div class="small-6 medium-4 columns">
      <%= link_to_remove_association "Eliminar", f, class: "button right tiny radius alert link_to_remove_association" %>

    </div>

  </div>
</div>
