<div id="lobby-activity-event">
  <div class="lobby-organization-autocomplete">
    <%= f.fields_for :events_organizations do |event_organization| %>
      <%= render 'events_organizations_fields', f: event_organization %>
    <% end %>
    <div class='small-12 columns'>
        <%= link_to_add_association 'Añadir lobby', f, :events_organizations, partial: "events_organizations_fields",
            class: "button left medium radius add_lobby", id: "add_events_organizations" %>
        <hr />
    </div>
  </div>
</div>