<% if @organization.try(:agents).count == 0 %>
    <p class="agents_errors"><%= t('backend.agents.no_agents') %></p>
<% else %>
    <% @agents.each do |agent| %>
        
        
        <% if agent.try(:attachments).count == 0 %>
            <p class="agents_errors"><%= t('backend.agents.no_attachment', 
                    name: agent.name,
                    first_surname: agent.first_surname,
                    second_surname: agent.second_surname).html_safe %></p>
        <% end %>
        <% if !agent.date_available? %>
            <p class="agents_errors"><%= t('backend.agents.invalid_date', 
                            name: agent.name,
                            first_surname: agent.first_surname,
                            second_surname: agent.second_surname).html_safe %></p>
        <% end %>
    <% end %>
        
<% end %>