<fieldset>
  <legend><%= t('backend.legal_representant.title_fieldset') %></legend>
  <div class="row">
    <div id="nested-legal-representant-wrapper">
      <div class="small-12 columns">
        <%= f.fields_for :legal_representant do |legal_representant_builder| %>
          <%= render 'admin/organizations/form/legal_representant_fields', f: legal_representant_builder %>
        <% end %>
        <%= link_to_add_association t('backend.legal_representant.add_legal_representative'), f, :legal_representant,
            partial: "admin/organizations/form/legal_representant_fields",
            id: "legal_representant_link", class: "button tiny radius info",
            data: {
              association_insertion_node: "#nested-legal-representant-wrapper",
              association_insertion_method: "append"
            } if @organization.legal_representant.blank? || @organization.legal_representant.new_record? %>                            
      </div>
    </div>
  </div>
</fieldset>
