<fieldset>
    <legend><%= t('organizations.mailer') %></legend>
    <div class="row">
        <div class="small-12 column">
        <%= f.label :mailer do  %>
            <%= f.check_box :mailer %>
            <%= t('organizations.mailer_box') %>
        <% end %>
        </div>
    </div>
</fieldset>