<%nome ="_#{f.index}_"%>
<div id="<%= dom_id(f.object) %>" class="range-subvention-<%=nome%>">

  <%= f.hidden_field :id %>
  <div class="small-12 medium-6 columns">
    <%= f.label :import, t('backend.range_subvention.import') %>
    <%= f.text_field :import %>
    <%= form_field_errors(f, :import) %>
  </div>

  <div class="small-12 medium-6 columns">
    <%= f.label :entity_name, t('backend.range_subvention.entity_name') %>
    <%= f.text_field :entity_name %>
    <%= form_field_errors(f, :entity_name) %>
  </div>

  <div class="small-12 columns">
    <%= link_to_remove_association "Eliminar" ,f ,class: "button tiny radius alert right", wrapper_class: "range-subvention-#{nome}" %>
  </div>

</div>
