<%nome ="_#{f.index}_"%>
<div id="<%= dom_id(f.object) %>" class="represented-entities-<%=nome%>">
  <fieldset>
    <legend><%= t('backend.represented_entities.data_entity', i: (f.index.to_i + 1)) %></legend>
    <fieldset>
      <legend><%= t('backend.represented_entities.title_identifier') %></legend>
      <div class="row">
        <%= f.hidden_field :id %>
        <div class="small-12 medium-6 columns">
          <%= f.label :identifier_type, t('backend.legal_representant.identifier_type') %>
          <%= f.select :identifier_type, options_for_select(option_identifier_types, f.object.identifier_type.blank? ? "DNI" : f.object.identifier_type)%>
          <%= form_field_errors(f, :identifier_type) %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label :identifier, t('backend.legal_representant.identifier') %>
          <%= f.text_field :identifier %>
          <%= form_field_errors(f, :identifier) %>
        </div>
      </div>
      <div class="row">
      <div class="small-12 medium-6 columns">
          <%= f.label :business_name, t('backend.legal_representant.business_name') %>
          <%= f.text_field :business_name %>
          <%= form_field_errors(f, :business_name) %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label :name, t('backend.legal_representant.name') %>
          <%= f.text_field :name %>
          <%= form_field_errors(f, :name) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :first_surname, t('backend.legal_representant.first_surname') %>
          <%= f.text_field :first_surname %>
          <%= form_field_errors(f, :first_surname) %>
        </div>

        <div class="small-12 medium-6 columns">
          <%= f.label :second_surname, t('backend.legal_representant.second_surname') %>
          <%= f.text_field :second_surname %>
          <%= form_field_errors(f, :second_surname) %>
        </div>
      </div>
      <%= render "admin/addresses/form", f: f%>
      <%= render "admin/organizations/form/category_fields", f: f%>
    </fieldset>
    <fieldset>
      <legend><%= t('backend.represented_entities.title_person') %></legend>
      <div class="row">
        <div class="small-12 columns">
          <%= f.fields_for :legal_representant, (LegalRepresentant.new if f.object.legal_representant.blank?) do |legal_representant_builder| %>
            <%= render 'admin/organizations/form/legal_representant_full_field', f: legal_representant_builder %>
          <% end %>          
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><%= t('backend.represented_entities.title_data') %></legend>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :from, t('backend.represented_entities.from') %>
          <%= f.date_field :from %>
          <%= form_field_errors(f, :from) %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label :to, t('backend.represented_entities.to') %>
          <%= f.date_field :to %>
          <%= form_field_errors(f, :to) %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :fiscal_year, t('backend.represented_entities.fiscal_year') %>
          <% f.object.fiscal_year = @this_year if f.object.fiscal_year.blank?%>
          <%= f.select :fiscal_year, options_for_select(@years, f.object.fiscal_year.to_i)%>
          <%= form_field_errors(f, :fiscal_year) %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.label :range_fund, t('backend.represented_entities.range_fund_title') %>
          <%= f.select :range_fund, Organization.range_funds.keys.map {
            |key| [t("backend.represented_entities.range_fund.#{key}"), key]},
            {:include_blank => t("backend.represented_entities.range_fund.select")} %>
          <%= form_field_errors(f, :range_fund) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :in_group_public_administration, t('backend.represented_entities.in_group_public_administration') %>
          <%= f.select :in_group_public_administration, [["", nil], [t('backend.represented_entities.in_group_public_administration_yes'), true], [t('backend.represented_entities.in_group_public_administration_no'), false]], {}, { onchange: "toggleFields(event, $('#represented-entities-group-public-data-content-#{nome}'))" }%>
          <%= form_field_errors(f, :in_group_public_administration) %>

          <div class="row <%= "hide" if !f.object.in_group_public_administration %>" id="represented-entities-group-public-data-content-<%=nome%>" style="padding: 25px;">
            <div class="small-12 medium-12 columns">
              <%= f.label :text_group_public_administration, t('backend.represented_entities.text_group_public_administration') %>
              <%= f.text_field :text_group_public_administration%>
              <%= form_field_errors(f, :text_group_public_administration) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :subvention, t('backend.represented_entities.subvention') %>
          <%= f.radio_button :subvention, true, 
            :checked => @organization.old_organization ? false : f.object.subvention.to_s.blank? && f.object.subvention.to_s!="false" ? false : f.object.subvention ? true : false %>
          <%= t('backend.represented_entities.subvention_yes') %>
          &nbsp;
          <%= f.radio_button :subvention, false,
            :checked => @organization.old_organization ? false : f.object.subvention.to_s.blank? && f.object.subvention.to_s!="false" ? false : f.object.subvention ? false : true %>
          <%= t('backend.represented_entities.subvention_no') %>
          <%= form_field_errors(f, :subvention) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :subvention_public_administration, t('backend.represented_entities.subvention_public_administration') %>
          <%= f.select :subvention_public_administration, [["", nil], [t('backend.represented_entities.subvention_public_administration_yes'), true], [t('backend.represented_entities.subvention_public_administration_no'), false]], {}, { onchange: "toggleFields(event, $('#represented-entities-suvention-public-data-content-#{nome}'))" }%>
          <%= form_field_errors(f, :subvention_public_administration) %>
        
          <div class="row <%= "hide" if !f.object.subvention_public_administration %>" id="represented-entities-suvention-public-data-content-<%=nome%>" style="padding: 25px;">
            <div id="entities-nested-range-subvention-wrapper-<%=nome%>">
              <div class="small-12 medium-12 columns">
                <%= f.fields_for :represented_range_subventions do |range_subvention_builder| %>
                  <%= render 'admin/organizations/form/range_subvention_fields', f: range_subvention_builder %>
                <% end %>
                <%= link_to_add_association t('backend.range_subvention.add_range_subvention'), f, :represented_range_subventions,
                  partial: "admin/organizations/form/range_subvention_fields",
                  id: "entities_range_subvention_link", class: "button tiny radius info",
                  data: {
                    association_insertion_node: "#entities-nested-range-subvention-wrapper-#{nome}",
                    association_insertion_method: "append"
                  }%>  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :contract, t('backend.represented_entities.contract') %>
          <%= f.radio_button :contract, true,
            :checked => @organization.old_organization ? false : f.object.contract.to_s.blank? && f.object.contract.to_s!="false" ? false : f.object.contract ? true : false %>
          <%= t('backend.represented_entities.contract_yes') %>
          &nbsp;
          <%= f.radio_button :contract, false,
            :checked => @organization.old_organization ? false : f.object.contract.to_s.blank? && f.object.contract.to_s!="false" ? false : f.object.contract ? false : true %>
          <%= t('backend.represented_entities.contract_no') %>
          <%= form_field_errors(f, :contract) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%=  t('backend.represented_entities.pretext_turnover') %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= f.label :contract_turnover, t('backend.represented_entities.contract_turnover') %>
          <%= f.text_field :contract_turnover%>
          <%= form_field_errors(f, :contract_turnover) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%=  t('backend.represented_entities.pretext_not_turnover') %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= f.label :contract_total_budget, t('backend.represented_entities.contract_total_budget') %>
          <%= f.text_field :contract_total_budget%>
          <%= form_field_errors(f, :contract_total_budget) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= f.label :contract_breakdown, t('backend.represented_entities.contract_breakdown') %>
          <%= f.text_field :contract_breakdown%>
          <%= form_field_errors(f, :contract_breakdown) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= f.label :contract_financing, t('backend.represented_entities.contract_financing') %>
          <%= f.text_field :contract_financing%>
          <%= form_field_errors(f, :contract_financing) %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= link_to_remove_association "Eliminar", f, class: "button tiny radius alert right", wrapper_class: "represented-entities-#{nome}" %>
        </div>
      </div>
    </fieldset>
  </fieldset>
</div>


