<fieldset>
  <legend><%= t('backend.terms.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 column">
      <%= t('backend.terms.pre_term') %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :certain_term do %>
        <%= f.check_box :certain_term %>
        <b>*</b> <%= t('backend.terms.certain_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :code_of_conduct_term do %>
        <%= f.check_box :code_of_conduct_term %>
        <b>*</b> <%= t('backend.terms.code_of_conduct_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :other_term do %>
        <%= f.check_box :other_term %>
        <b>*</b> <%= t('backend.terms.other_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :gift_term do %>
        <%= f.check_box :gift_term %>
        <b>*</b> <%= t('backend.terms.gift_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :lobby_term do %>
        <%= f.check_box :lobby_term %>
        <b>*</b> <%= t('backend.terms.lobby_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :public_term do %>
        <%= f.check_box :public_term %>
        <b>*</b> <%= t('backend.terms.public_term') %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :communication_term do %>
        <%= f.check_box :communication_term %>
        <%= t('backend.terms.communication_term') %>
      <% end %>
    </div>
  </div>
  
</fieldset>
<%= form_field_errors(f, :terms) %>
