<div class="small-12 medium-12 column">
    <%= form_for :send_email, :url => { :action => :send_email },html: {class: 'admin-form'} do |f| %>
        <% if !@errors.blank? %>
            <div class="panel callout radius">
            <strong><%= t('activerecord.errors.template.header',
                            :model => SendEmail.model_name.human,
                            :count => @errors.count) %>
            </strong>
            <ul>
                <% @errors.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <fieldset>
            <%= f.check_box :auto_send, value: @dp.auto_send, checked: @dp.auto_send %><%= f.label :auto_send, t('backend.send_emails.auto_send') %>
            <div class="row">
                <div class="small-2 column"><%= f.label :auto_start_date, t('backend.send_emails.auto_start_date') %></div>
                <div class="small-3 column"><%= f.date_field :auto_start_date, as: :date, value: (@dp.auto_start_date.blank? ? false : @dp.auto_start_date.to_date) %></div>
                <div class="small-2 column"><%= f.label :auto_hour, t('backend.send_emails.auto_hour') %></div>
                <div class="small-3 column end"><%= f.time_field :auto_hour, value: @dp.auto_hour %></div>
            </div>
                <div class="row">
                <div class="small-2 column"><%= f.label :auto_from_date, t('backend.send_emails.auto_from_date') %></div>
                <div class="small-3 column"><%= f.date_field :auto_from_date,  as: :date, value: (@dp.auto_from_date.blank? ? false : @dp.auto_from_date.to_date) %></div>
                <div class="small-2 column"><%= f.label :auto_to_date, t('backend.send_emails.auto_to_date') %></div>
                <div class="small-3 column end"><%= f.date_field :auto_to_date,  as: :date, value: (@dp.auto_to_date.blank? ? false : @dp.auto_to_date.to_date) %></div>
            </div>
            <div class="row">
                <div class="small-8 column"><%= f.label :auto_frecuence, t('backend.send_emails.auto_frecuence') %></div>
                <div class="small-3 column end"><%= f.select :auto_frecuence, options_for_select(@frecuences, @dp.auto_frecuence) %></div>
            </div>
            <div class="row">
                <div class="small-8 column"><%= f.label :auto_user_type, t('backend.send_emails.user_type') %></div>
                <div class="small-3 column end"><%= f.select :auto_user_type, options_for_select(@user_types, @dp.auto_user_type), 
                                                                                                checked: @dp.auto_user_type.to_s %></div>
            </div>
            <fieldset>
                <legend>Tipo de restricción de envío</legend>
                <div class="small-12 column">
                    <%= f.check_box :is_auto_all_emails, value: @dp.is_auto_all_emails, checked: @dp.is_auto_all_emails, onchange: "one_auto_check(this)" %><%= f.label :is_auto_all_emails, t('backend.send_emails.is_auto_all_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.check_box :is_auto_included_emails, value: @dp.is_auto_included_emails, checked: @dp.is_auto_included_emails, onchange:"one_auto_check(this)" %><%= f.label :is_auto_included_emails, t('backend.send_emails.is_auto_included_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.text_field :auto_included_emails, value: @dp.auto_included_emails, size: "500" %>
                </div>
                <div class="small-12 column">
                    <%= f.check_box :is_auto_excluded_emails, value: @dp.is_auto_excluded_emails, checked: @dp.is_auto_excluded_emails, onchange:"one_auto_check(this)" %><%= f.label :is_auto_excluded_emails, t('backend.send_emails.is_auto_excluded_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.text_field :auto_excluded_emails, value: @dp.auto_excluded_emails, size: "500" %>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <%= f.check_box :manual_send, value: @dp.manual_send, checked: @dp.manual_send %><%= f.label :manual_send, t('backend.send_emails.manual_send') %>
            <div class="row">
                <div class="small-2 column"><%= f.label :manual_date, t('backend.send_emails.manual_date') %></div>
                <div class="small-3 column"><%= f.date_field :manual_date, as: :date, value: (@dp.manual_date.blank? ? false : @dp.manual_date.to_date) %></div>
                <div class="small-2 column"><%= f.label :manual_hour, t('backend.send_emails.manual_hour') %></div>
                <div class="small-3 column end"><%= f.time_field :manual_hour, value: @dp.manual_hour, :format=>"%H:%M" %></div>
            </div>
            <div class="row">
                <div class="small-2 column"><%= f.label :manual_from_date, t('backend.send_emails.manual_from_date') %></div>
                <div class="small-3 column"><%= f.date_field :manual_from_date,  as: :date, value: (@dp.manual_from_date.blank? ? false : @dp.manual_from_date.to_date) %></div>
                <div class="small-2 column"><%= f.label :manual_to_date, t('backend.send_emails.manual_to_date') %></div>
                <div class="small-3 column end"><%= f.date_field :manual_to_date,  as: :date, value: (@dp.manual_to_date.blank? ? false : @dp.manual_to_date.to_date) %></div>
            </div>
            <div class="row">
                <div class="small-7 column"><%= f.label :manual_user_type, t('backend.send_emails.user_type') %></div>
                <div class="small-3 column end"><%= f.select :manual_user_type, options_for_select(@user_types, @dp.manual_user_type), checked: @dp.manual_user_type.to_s %></div>
            </div>
            <fieldset>
                <legend>Tipo de restricción de envío</legend>
                <div class="small-12 column">
                    <%= f.check_box :is_manual_all_emails, value: @dp.is_manual_all_emails, checked: @dp.is_manual_all_emails, onchange: "one_manual_check(this)" %><%= f.label :is_manual_all_emails, t('backend.send_emails.is_auto_all_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.check_box :is_manual_included_emails, value: @dp.is_manual_included_emails, checked: @dp.is_manual_included_emails, onchange:"one_manual_check(this)" %><%= f.label :is_manual_included_emails, t('backend.send_emails.is_auto_included_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.text_field :manual_included_emails, value: @dp.manual_included_emails, size: "500" %>
                </div>
                <div class="small-12 column">
                    <%= f.check_box :is_manual_excluded_emails, value: @dp.is_manual_excluded_emails, checked: @dp.is_manual_excluded_emails, onchange:"one_manual_check(this)" %><%= f.label :is_manual_excluded_emails, t('backend.send_emails.is_auto_excluded_emails') %>
                </div>
                <div class="small-12 column">
                    <%= f.text_field :manual_excluded_emails, value: @dp.manual_excluded_emails, size: "500" %>
                </div>
        </fieldset>
        <div><%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %></div>
    <% end %>
</div>

    <%= javascript_tag do %>
    function one_auto_check(check) {
        if (check.id == 'send_email_is_auto_all_emails') {
            if (check.checked) {
                $('#send_email_is_auto_included_emails').prop('disabled', true);
                $('#send_email_is_auto_excluded_emails').prop('disabled', true);
            }else{
                $('#send_email_is_auto_included_emails').prop('disabled', false);
                $('#send_email_is_auto_excluded_emails').prop('disabled', false);
            }    
        }else if (check.id == 'send_email_is_auto_included_emails') {
            if (check.checked) {
                $('#send_email_is_auto_all_emails').prop('disabled', true);
                $('#send_email_is_auto_excluded_emails').prop('disabled', true);
            }else{
                $('#send_email_is_auto_all_emails').prop('disabled', false);
                $('#send_email_is_auto_excluded_emails').prop('disabled', false);
            } 
        } else {
            if (check.checked) {
                $('#send_email_is_auto_all_emails').prop('disabled', true);
                $('#send_email_is_auto_included_emails').prop('disabled', true);
            }else{
                $('#send_email_is_auto_all_emails').prop('disabled', false);
                $('#send_email_is_auto_included_emails').prop('disabled', false);
            } 
        }
    }

    function one_manual_check(check) {
        if (check.id == 'send_email_is_manual_all_emails') {
            if (check.checked) {
                $('#send_email_is_manual_included_emails').prop('disabled', true);
                $('#send_email_is_manual_excluded_emails').prop('disabled', true);
            }else{
                $('#send_email_is_manual_included_emails').prop('disabled', false);
                $('#send_email_is_manual_excluded_emails').prop('disabled', false);
            }    
        }else if (check.id == 'send_email_is_manual_included_emails') {
            if (check.checked) {
                $('#send_email_is_manual_all_emails').prop('disabled', true);
                $('#send_email_is_manual_excluded_emails').prop('disabled', true);
            }else{
                $('#send_email_is_manual_all_emails').prop('disabled', false);
                $('#send_email_is_manual_excluded_emails').prop('disabled', false);
            } 
        } else {
            if (check.checked) {
                $('#send_email_is_manual_all_emails').prop('disabled', true);
                $('#send_email_is_manual_included_emails').prop('disabled', true);
            }else{
                $('#send_email_is_manual_all_emails').prop('disabled', false);
                $('#send_email_is_manual_included_emails').prop('disabled', false);
            } 
        }
    }

    $(window).on('load', function() {
        one_auto_check($('#send_email_is_auto_included_emails')[0])
        one_auto_check($('#send_email_is_auto_excluded_emails')[0])
        one_auto_check($('#send_email_is_auto_all_emails')[0])
        one_manual_check($('#send_email_is_manual_included_emails')[0])
        one_manual_check($('#send_email_is_manual_excluded_emails')[0])
        one_manual_check($('#send_email_is_manual_all_emails')[0])
    })
<% end %>