<div class="row">
    <div class="small-12 medium-12 column">
        <h1><%= t('backend.preferences.configure_text')%></h1>
        <div class="row">
            <div class="small-12 medium-12 column">
             <% @configure_text.each do |d| %>
                <%= form_for d, url: update_configure_text_admin_parametrization_path(d), method: :post do |f| %> 
                   
                        <fieldset>
                        <legend><%= t("backend.configuration_texts.#{d.code}") %></legend>
                            <div class="row">                            
                                <% f.hidden_field :id, value: d.id %>
                                <% f.hidden_field :code, value: d.code %>
                                <div class="small-12 medium-12 column">
                                    <%= f.label :content_title, "Título", style: "font-weight: bold" %>
                                    <%= f.text_field :content_title, value: d.content_title %>
                                    <%= f.label :content_body, "Contenido", style: "font-weight: bold" %>
                                    <%= f.text_area :content_body, value: d.content_body, class: 'tinymce', :rows => 15%>                                 
                                </div>
                            </div>
                        </fieldset>
                         <%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %>
                    <% end %>
                   
                <% end %>
            </div>
        </div>
    </div>
</div>