<div class="row">
  <div class="small-12 medium-12 column">
    <h1><%= t('backend.preferences.historic_lobbies_emails')%></h1>
    <ul class="tabs" data-tab style="border-bottom: 1px solid #004A83;">
      <li id="historic_emails" class="tab-title">
          <a href="#emails_organizations"><%= t('backend.manage_mails.Organizations') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_one_month_to_expiration"><%= t('backend.manage_mails.LobbyOneMonthToExpiration') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_expires_today"><%= t('backend.manage_mails.LobbyExpiresToday') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_renovation"><%= t('backend.manage_mails.LobbyRenovation') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_modification_notification"><%= t('backend.manage_mails.LobbyModificationNotification') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_modification_manual"><%= t('backend.manage_mails.LobbyModificationManual') %></a>
      </li>
      <li id="historic_emails" class="tab-title">
          <a href="#emails_lobby_canceled"><%= t('backend.manage_mails.LobbyCanceled') %></a>
      </li>
    </ul>

    <div class="row">
      <div class="small-12 medium-12 column">
        <div class="tabs-content">
          <div id="emails_organizations" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_organizations, type: "Organizations" %></div>
          <div id="emails_lobby_one_month_to_expiration" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_one_month_to_expiration, type: "LobbyOneMonthToExpiration" %></div>
          <div id="emails_lobby_expires_today" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_expires_today, type: "LobbyExpiresToday" %></div>
          <div id="emails_lobby_renovation" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_renovation, type: "LobbyRenovation" %></div>
          <div id="emails_lobby_modification_notification" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_modification_notification, type: "LobbyModificationNotification" %></div>
          <div id="emails_lobby_modification_manual" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_modification_manual, type: "LobbyModificationManual" %></div>
          <div id="emails_lobby_canceled" class="small-12 column content"><%= render 'admin/parametrizations/historic_lobbies_emails/table', historic_lobbies_emails: @emails_lobby_canceled, type: "LobbyCanceled" %></div>
        </div>
      </div>
    </div>
  </div>
</div>