<% if !@send_mailer_historics.blank? %>
  <table class="event">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          <% @send_mailer_historics.each do |smh|%>
              <tr> 
                  <td><%= smh.description %></td>
                  <td><%= smh.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                  <% if File.exist?("#{Rails.root}/log/emails/email#{smh.id}.log")%>
                    <td><%= link_to "Descargar log", admin_parametrization_download_log_path(smh) %></td>
                  <% end %>
              </th>
          <% end %>
      </tbody>
  </table>
<% else %>
  <%=  t('backend.send_emails.no_historic_emails') %>
<% end %>