<div class="small-12 medium-12 column">
    <%= form_for :send_email, :url => { :action => :send_email },html: {class: 'admin-form'} do |f| %>
        <fieldset>
            <legend>Automático</legend>
            <%= f.check_box :auto_send, value: @dp.auto_send, checked: @dp.auto_send, disabled: true %><%= f.label :auto_send, t('backend.send_emails.auto_send') %>
            <div class="row">
                <div class="small-6 column"><%= t('backend.send_emails.auto_start_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.auto_hour') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.auto_start_date.blank? ? "dd/mm/aaaa" : @dp.auto_start_date.to_date %></div>
                <div class="small-6 column"><%= @dp.auto_hour %></div>
            </div>
            <div class="row mt-1">
                <div class="small-6 column"><%= t('backend.send_emails.auto_from_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.auto_to_date') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.auto_from_date.blank? ? "dd/mm/aaaa" : @dp.auto_from_date.to_date %></div>
                <div class="small-6 column end"><%= @dp.auto_to_date.blank? ? "dd/mm/aaaa" : @dp.auto_to_date.to_date %></div>
            </div>
            <div class="row mt-1">
                <div class="small-6 column end"><%= t('backend.send_emails.user_type') %></div>
                <div class="small-6 column"><%= t('backend.send_emails.auto_frecuence') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @user_types.key(@dp.auto_user_type) if !@dp.auto_user_type.blank? %></div>
                <div class="small-6 column end"><%= @frecuences[(@dp.auto_frecuence)-1][0] if !@dp.auto_frecuence.blank? %></div>
            </div>
            <div class="row mt-1">
                <div class="small-6 column"><%= t('backend.send_emails.next_send_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.next_send_hour') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.next_send_date %></div>
                <div class="small-6 column end"><%= @dp.auto_hour %></div>
            </div>
            <div class="row mt-1">
                <div class="small-6 column"><%= t('backend.send_emails.next_send_events_from_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.next_send_events_to_date') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.next_send_events_from_date(@dp.auto_from_date) %></div>
                <div class="small-6 column end"><%= @dp.next_send_events_to_date(@dp.auto_to_date) %></div>
            </div>
            <fieldset>
                <legend>Emails a los que se enviará el correo</legend>
                <div class="row">
                    <div class="small-6 column">
                        <fieldset>
                            <legend>Correos de envío con eventos publicados</legend>
                            <%= @dp.list_emails_events.first.flatten.compact.blank? ? "No hay correos con eventos" : @dp.list_emails_events.first.uniq.join(", ") %>
                        </fieldset>
                    </div>
                    <div class="small-6 column end">
                        <fieldset>
                            <legend>Correos de envío sin eventos publicados</legend>
                            <%=  @dp.list_emails_events.last.flatten.compact.blank? ? "No hay correos sin eventos" : @dp.list_emails_events.last.uniq.join(", ") %>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Manual</legend>
            <%= f.check_box :manual_send, value: @dp.manual_send, checked: @dp.manual_send, disabled: true %><%= f.label :manual_send, t('backend.send_emails.manual_send') %>
            <div class="row">
                <div class="small-6 column"><%= t('backend.send_emails.manual_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.manual_hour') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.manual_date.blank? ? "dd/mm/aaaa" : @dp.manual_date.to_date %></div>
                <div class="small-6 column"><%= @dp.manual_hour %></div>
            </div>
            <div class="row mt-1">
                <div class="small-6 column"><%= t('backend.send_emails.manual_from_date') %></div>
                <div class="small-6 column end"><%= t('backend.send_emails.manual_to_date') %></div>
            </div>
            <div class="row">
                <div class="small-6 column"><%= @dp.manual_from_date.blank? ? "dd/mm/aaaa" : @dp.manual_from_date.to_date %></div>
                <div class="small-6 column end"><%= @dp.manual_to_date.blank? ? "dd/mm/aaaa" : @dp.manual_to_date.to_date %></div>
            </div>
            <div class="row mt-1">
                <div class="small-12 column"><%= t('backend.send_emails.user_type') %></div>
            </div>
            <div class="row">
                <div class="small-12 column"><%= @user_types.key(@dp.manual_user_type) if !@dp.manual_user_type.blank? %></div>
            </div>
            <fieldset>
                <legend>Emails a los que se enviará el correo</legend>
                <div class="row">
                    <div class="small-6 column">
                        <fieldset>
                            <legend>Correos de envío con eventos publicados</legend>
                            <%= @dp.list_manual_event_emails.first.flatten.compact.blank? ? "No hay correos con eventos" : @dp.list_manual_event_emails.first.uniq.join(", ") %>
                        </fieldset>
                    </div>
                    <div class="small-6 column end">
                        <fieldset>
                            <legend>Correos de envío sin eventos publicados</legend>
                            <%=  @dp.list_manual_event_emails.last.flatten.compact.blank? ? "No hay correos sin eventos" : @dp.list_manual_event_emails.last.uniq.join(", ") %>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    <% end %>
</div>