<div class="row">
    <div class="small-12 medium-12 column">
        <h1>
            <%= t('backend.preferences.send_emails')%>
        </h1>

        <ul class="tabs" data-tab style="border-bottom: 1px solid #004A83;">
            <li id="send_email" class="tab-title">
                <a href="#configuration"><%= t('backend.send_emails.configuration') %></a>
            </li>
            <li id="send_email" class="tab-title">
                <a href="#programmed"><%= t('backend.send_emails.programmed') %></a>
            </li>
            <li id="send_email" class="tab-title">
                <a href="#historic"><%= t('backend.send_emails.historic') %></a>
            </li>
        </ul>

        <div class="tabs-content">
            <div id="configuration" class="small-12 column content"><%= render 'admin/parametrizations/configuration'%></div>
            <div id="programmed" class="small-12 column content"><%= render 'admin/parametrizations/programmed'%></div>
            <div id="historic" class="small-12 column content"><%= render 'admin/parametrizations/historic'%></div>
        </div>
    </div>
</div>