<ul class="tabs" data-tab style="border-bottom: 1px solid #004A83;">
  <li id="data_log" class="tab-title <%= "active" if params[:role].blank? && params[:data_preferences].blank? && params[:send_emails].blank? && params[:configure_text].blank? && params[:historic_lobbies_emails].blank? %>">
    <a href="#email" onclick="change_param_parametrize([])"><%= t('backend.manage_mails.title') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:role]%>">
    <a href="#role" onclick="change_param_parametrize(['role',true])"><%= t('backend.preferences.role_view') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:data_preferences]%>">
    <a href="#data_preferences" onclick="change_param_parametrize(['data_preferences',true])"><%= t('backend.preferences.data_preferences') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:send_emails]%>">
    <a href="#send_emails" onclick="change_param_parametrize(['send_emails',true])"><%= t('backend.preferences.send_emails') %></a>
  </li>
   <li id="data_log" class="tab-title <%= "active" if params[:configure_text]%>">
    <a href="#configure_text" onclick="change_param_parametrize(['configure_text',true])"><%= t('backend.preferences.configure_text') %></a>
  </li>
  <li id="data_log" class="tab-title <%= "active" if params[:historic_lobbies_emails]%>">
    <a href="#historic_lobbies_emails" onclick="change_param_parametrize(['historic_lobbies_emails',true])"><%= t('backend.preferences.historic_lobbies_emails') %></a>
  </li>
</ul>

<div class="tabs-content">
  <div id="email" class="small-12 column content <%= "active" if params[:role].blank? && params[:data_preferences].blank? &&  params[:send_emails].blank? && params[:configure_text].blank?&& !(params[:send_emails].blank?) && (params[:configure_text].blank?) && !(params[:send_emails].blank?) && !(params[:historic_lobbies_emails].blank?) %>" aria-hidden="<%=!(params[:role].blank?) && !(params[:parameterizable].blank?) || true%>">
   <%= render 'admin/manage_emails/emails_administration', collection: @mails%>
  </div>
  <div id="role" class="small-12 column content <%= "active" if params[:role]%>" aria-hidden="<%= !params[:role] || true%>">
    <%= render 'admin/role_views/role_view'%>
  </div>
  <div id="data_preferences" class="small-12 column content <%= "active" if params[:data_preferences]%>" aria-hidden="<%= !params[:data_preferences] || true%>">
    <%= render 'data_preferences'%>
  </div>
  <div id="send_emails" class="small-12 column content <%= "active" if params[:send_emails]%>" aria-hidden="<%= !params[:send_emails] || true%>">
    <%= render 'send_emails'%>
  </div>
   <div id="configure_text" class="small-12 column content <%= "active" if params[:configure_text]%>" aria-hidden="<%= !params[:configure_text] || true%>">
    <%= render 'configure_texts'%>
  </div>
  <div id="historic_lobbies_emails" class="small-12 column content <%= "active" if params[:historic_lobbies_emails]%>" aria-hidden="<%= !params[:historic_lobbies_emails] || true%>" >
    <%= render 'historic_lobbies_emails' %>
  </div>
</div>
