<% if !historic_lobbies_emails.blank? %>
    <table class="event">
        <thead>
            <tr>
                <th>Fecha de envío</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% historic_lobbies_emails.each_with_index do |historic_email_date, index|  %>
                <tr>
                    <td><%= historic_email_date[0] %></td>
                    <td><%= link_to historic_email_date[1].count, "#", onclick: "toggleEmailDataBlock('#{"#{type}_#{index}"}', event)" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <% historic_lobbies_emails.each_with_index do |historic_email_date, index| %>
        <table id="<%= "#{type}_#{index}" %>" style="display: none" class="event">
            <thead>
                <tr>
                    <th><%= t("backend.historic_lobbies_emails.created_at") %></th>
                    <th><%= t("backend.historic_lobbies_emails.type") %></th>
                    <th><%= t("backend.historic_lobbies_emails.organization") %></th>
                    <th><%= t("backend.historic_lobbies_emails.sent_to") %></th>
                    <th><%= t("backend.historic_lobbies_emails.sent") %></th>
                </tr>
            </thead>
            <tbody>
                <% historic_email_date[1].each do |historic_email| %>
                    <tr> 
                        <td><%= historic_email.created_at.strftime("%d-%m-%y %H:%M") if !historic_email.created_at.blank? %></td>
                        <td><%= I18n.exists?("backend.manage_mails.#{ historic_email.try(:type_data)}") ? t("backend.manage_mails.#{ historic_email.try(:type_data)}") : "" %></td>
                        <td><%= historic_email.try(:organization).try(:fullname) %></td>
                        <td><%= historic_email.try(:sent_to)%></td>
                        <td><%= (historic_email.try(:sent).blank? || historic_email.sent == false ) ? "No" : "Si" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<% else %>
    <%=  t('backend.historic_lobbies_emails.no_historic_emails', type: t("backend.manage_mails.#{type}")) %>
<% end %>

<script>
    function toggleEmailDataBlock(id, event) {
        event.preventDefault()
        let element = $(`#${id}`)
        if (element.css("display") == 'none') {
            element.css("display","")
        } else {
            element.css("display","none")
        }
    }

</script>