.icon-sortable {
    font-family: "foundation-icons";
    position: relative;
  
    &::before,
    &::after {
      left: 6px;
      opacity: 0.25;
      position: absolute;
    }
  
    &::before {
        content: "\f10c";
      top: -2px;
    }
  
    &::after {
      content: "\f109";
      bottom: -10px;
    }
  
    &.asc {
  
      &::after {
        opacity: 1;
      }
    }
  
    &.desc {
  
      &::before {
        opacity: 1;
      }
    }
  }