<%= link_to t('backend.back'), :back , :class=> "button tiny radius" %>

<%= form_for @infringement_email do |f| %>
  <fieldset>
    <legend><%= t('infringement_mailbox.legend') %></legend>
    <%= f.label :subject, t('infringement_mailbox.subject_title') %>
    <%= f.text_field :subject, placeholder: t('infringement_mailbox.subject_placeholder') %>

    <%= f.label :description, t('infringement_mailbox.description_title') %>
    <%= f.text_area :description, class: 'tinymce'%>
    <br>
    <%= f.invisible_captcha :subsubject %>

    <%= f.label :link, t('infringement_mailbox.link_title') %>
    <%= f.text_field :link, placeholder: t('infringement_mailbox.link_placeholder') %>
    <span class="form-info"><%= t('infringement_mailbox.link_info') %></span>

    <div class="file-attachment">
      <%= f.label :attachment, t('infringement_mailbox.attachment_title') %>
      <%= f.file_field :attachment %>
      <span class="form-info"><%= t('infringement_mailbox.attachment_info') %></span>
    </div>
    <div class="affected">
      <%= f.label :affected, t('infringement_mailbox.affected') %>
      <%= f.select :affected, options_for_select([
        [t('infringement_mailbox.affected_1'),t('infringement_mailbox.affected_1')],
        [t('infringement_mailbox.affected_2'), t('infringement_mailbox.affected_2')],
        [t('infringement_mailbox.affected_3'),t('infringement_mailbox.affected_3')]
        ], params[:affected]), class: "dropdown"%>
      <div id="affected_referer">
        <%= f.label :affected_referer, "Indicar cuál"%>
        <%= f.text_field :affected_referer, placeholder: "Indicar cuál" %> 
      </div>     
    </div>
    <hr />
    <p><%= t('infringement_mailbox.text_block_first_html') %></p>   
    <ul>
      <li><%= t('infringement_mailbox.text_block_second.first') %></li>
      <li><%= t('infringement_mailbox.text_block_second.second') %></li>
      <li><%= t('infringement_mailbox.text_block_second.third') %></li>
      <li><%= t('infringement_mailbox.text_block_second.four') %></li>
    </ul>
    <p><%= t('infringement_mailbox.text_block_fourth_html') %></p>
  </fieldset>
  <%= f.submit t('infringement_mailbox.send'), class: "button radius success right" %>
<% end %>
