<div class="row">
  <div class="small-12 columns">
    <h2 class="title-l"><%= t('main.title')%></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div>
        <%= t(".no_account").html_safe %>
      </div>
      <br />
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        <%- if devise_mapping.recoverable? %>
          <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: 'right' %>
        <% end %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <%= f.submit t('.sign_in'), class: 'button' %>
    <% end %>
  </div>
</div>
