<div class="row align-middle">
  <div class="small-12 column">
    <%= form_tag admin_organizations_path, method: :get do %>
      <%= hidden_field_tag :order, params[:order] %>
        <fieldset>
          <legend><%=t('backend.notification_filters.title')%></legend>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_title, t("organizations.description")) %>
            <%= text_field_tag :keyword, params[:keyword], placeholder: t('main.form.keyword') %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_organization_id, t("backend.search.organization_id.label")) %>
            <%= text_field_tag :search_organization_id, params[:search_organization_id], placeholder: t('backend.search.organization_id.placeholder'),  :maxlength => 20 %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_organization_identifier, t("backend.search.organization_identifier.label")) %>
            <%= text_field_tag :search_organization_identifier, params[:search_organization_identifier], placeholder: t('backend.search.organization_identifier.placeholder'),  :maxlength => 20 %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_user_email, t("backend.search.organization_user_email.label")) %>
            <%= text_field_tag :search_organization_user_email, params[:search_organization_user_email], placeholder: t('backend.search.organization_user_email.placeholder'),  :maxlength => 200 %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_inscription_start_date, t("backend.search_active.inscription_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_inscription_start_date,params[:search_inscription_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_inscription_end_date, t("backend.search_active.inscription_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_inscription_end_date,params[:search_inscription_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)"%>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_expired_start_date, t("backend.search_active.expired_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_expired_start_date,params[:search_expired_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_expired_end_date, t("backend.search_active.expired_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_expired_end_date,params[:search_expired_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)" %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_renovation_start_date, t("backend.search_active.renovation_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_renovation_start_date,params[:search_renovation_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:search_renovation_end_date, t("backend.search_active.renovation_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_renovation_end_date,params[:search_renovation_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)"%>
          </div>
          <div class="small-12 columns">
            <div class="row">
              <div class="small-8 columns">
                <%= label_tag(:search_title, t("organizations.status")) %>
              </div>
              <div class="small-2 columns">
                <small><a href="#" data-tooltip-custom="<%= t("backend.search.tool_tips_multiple_selection") %>"><%= t("backend.search.multiple_selection") %></a></small>
              </div>
            </div>
            <%= select_tag :status_type, options_for_select(status_type, !params[:status_type].blank? ? params[:status_type] : 0), class: "dropdown", multiple: true %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= label_tag(:type_lobby,"Tipo de lobby") %>
            <%= select_tag :type_lobby, options_for_select(types_lobby,!params[:type_lobby].blank? ? params[:type_lobby] : 0), include_blank: true ,class: "dropdown"%>
          </div>
          <div class="columns text-right">
            <%= link_to t('main.form.reset'), admin_organizations_path, class: 'expanded tiny radius button secondary' %>
            <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
<!--<div class="small-5 columns">
  <%#= label_tag(:search_title, t("organizations.entity_type")) %>

  <%#= select_tag :entity_type, current_user.admin? ?
                options_for_select([[t("main.form.lobbies"), 2],[t("main.form.associations_federations"), -1], [t("main.form.all"), -2]],
                unless params[:entity_type].blank?
                  params[:entity_type]
                else
                  2
                end) : options_for_select([t("main.form.lobbies")]),
                class: "dropdown",  :disabled => current_user.admin? ? false : true %>
</div>-->
<script>
  $('#next_expired').click(function() {
    if ($(this).is(':checked')) {
      $("#status_type option").each(function()
      {
        $('#status_type option[value='+$(this).val()+']').prop('selected', false).change();
      });
      $('#status_type option[value=1]').prop('selected', 'selected').change();
    } else {
      $("#status_type option").each(function()
      {
        $('#status_type option[value='+$(this).val()+']').prop('selected', false).change();
      });
    }
  });
</script>