<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.in_group_public_administration') %></strong>
            <%= model.try(:in_group_public_administration).nil? ? "" :  model.try(:in_group_public_administration) == true ? t(model.try(:in_group_public_administration)) : 
            (!model.try(:inscription_date).blank? && model.inscription_date.to_date >= '20-03-2021'.to_date || !model.try(:renovation_date).blank? && model.renovation_date.to_date >= '20-03-2021'.to_date || 
            !model.try(:updated_at).blank? && model.updated_at.to_date >= '20-03-2021'.to_date) ? 
            t(model.try(:in_group_public_administration)) : "" %>
        </p>
        <% if model.in_group_public_administration%>
            <div class="row">
                <div class="small-12 medium-12 columns" style="padding: 0px 30px">
                    <p>
                        <strong><%= t('backend.lobbies_data.text_group_public_administration') %></strong>
                        <%= model.text_group_public_administration %>
                    </p>
                </div>
            </div>
        <%end%>
    </div> 
</div>
<br>  
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.subvention_public_administration') %></strong>
            <%= model.try(:subvention_public_administration).nil? ? "" :  model.try(:subvention_public_administration) == true ? t(model.try(:subvention_public_administration)) : 
            (!model.try(:inscription_date).blank? && model.inscription_date.to_date >= '20-03-2021'.to_date || !model.try(:renovation_date).blank? && model.renovation_date.to_date >= '20-03-2021'.to_date || 
            !model.try(:updated_at).blank? && model.updated_at.to_date >= '20-03-2021'.to_date) ? 
            t(model.try(:subvention_public_administration)) : "" %>
        </p>
        <% if model.subvention_public_administration%>
            <div class="row">
                <div class="small-12 medium-12 columns" style="padding: 0px 30px">
                    <p>    
                        <div class="row">            
                            <div class="small-12 medium-6 columns">
                                <strong><%=t('backend.range_subvention.import')%></strong>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <strong><%=t('backend.range_subvention.entity_name')%></strong>
                            </div>
                        </div>
                        <br>
                        <% data.each do |range| %>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <%=range.import%>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <%=range.entity_name%>
                                </div>
                            </div>
                            <br>
                        <%end%>
                    </p>
                </div>
            </div>
        <%end%>
    </div>
</div>
<br>
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.subvention') %></strong>
            <%= t(model.subvention.to_s) %>
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.contract') %></strong>
            <%= t(model.contract.to_s) %>
        </p>
        <% if model.contract%>
            <div class="row">
                <div class="small-12 medium-12 columns" style="padding: 0px 30px">
                    <p>
                        <div class="row">
                            <div class="small-12 medium-12 columns">
                                <strong><%=  t('backend.lobbies_data.pretext_turnover') %></strong>
                            </div>
                            <br/>
                            <br/>
                            <div class="small-12 medium-12 columns">
                                <strong>- <%= t('backend.lobbies_data.contract_turnover') %></strong>
                                <%= model.contract_turnover%>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="small-12 medium-12 columns">
                                <strong><%=  t('backend.lobbies_data.pretext_not_turnover') %></strong>
                            </div>
                            <br/>
                            <br/>
                            <div class="small-12 medium-12 columns">
                                <strong>- <%= t('backend.lobbies_data.contract_total_budget') %></strong>
                                <%= model.contract_total_budget%>
                            </div>
                            <div class="small-12 medium-12 columns">
                                <strong>- <%= t('backend.lobbies_data.contract_breakdown') %></strong>
                                <%= model.contract_breakdown%>
                            </div>
                            <div class="small-12 medium-12 columns">
                                <strong>- <%=  t('backend.lobbies_data.contract_financing') %></strong>
                                <%= model.contract_financing%>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        <%end%>
    </div>
</div>
<br>