<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.in_group_public_administration') %></strong>
            <%= model.try(:in_group_public_administration).nil? ? "" :  model.try(:in_group_public_administration) == true ? t(model.try(:in_group_public_administration)) : 
            (!model.try(:inscription_date).blank? && model.inscription_date.to_date >= '20-03-2021'.to_date || !model.try(:renovation_date).blank? && model.renovation_date.to_date >= '20-03-2021'.to_date || 
            !model.try(:modification_date).blank? && model.modification_date.to_date >= '20-03-2021'.to_date) ? 
            t(model.try(:in_group_public_administration)) : "" %>
        </p>
        <% if model.try(:in_group_public_administration)%>
            <div class="row">
                <div class="small-12 medium-12 columns" style="padding: 0px 30px">
                    <p>
                        <strong><%= t('backend.lobbies_data.text_group_public_administration') %></strong>
                        <%= model.try(:text_group_public_administration) %>
                    </p>
                </div>
            </div>
        <%end%>
    </div> 
</div>
<br>
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.subvention') %></strong>
            <%= t(model.try(:subvention).to_s) %>
        </p>
    </div>
</div>
<br>  
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.subvention_public_administration') %></strong>
            <%= model.try(:subvention_public_administration).nil? ? "" :  model.try(:subvention_public_administration) == true ? t(model.try(:subvention_public_administration)) : 
            (!model.try(:inscription_date).blank? && model.inscription_date.to_date >= '20-03-2021'.to_date || !model.try(:renovation_date).blank? && model.renovation_date.to_date >= '20-03-2021'.to_date || 
            !model.try(:modification_date).blank? && model.modification_date.to_date >= '20-03-2021'.to_date) ? 
            t(model.try(:subvention_public_administration)) : "" %>
        </p>
        <% if model.try(:subvention_public_administration)%>
            <div class="row">
                <div class="small-12 medium-12 columns" style="padding: 0px 30px">
                    <p>    
                        <div class="row">            
                            <div class="small-12 medium-6 columns">
                                <strong><%=t('backend.range_subvention.import')%></strong>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <strong><%=t('backend.range_subvention.entity_name')%></strong>
                            </div>
                        </div>
                        <br>
                        <% data.each do |range| %>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <%=range.try(:import)%>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <%=range.try(:entity_name)%>
                                </div>
                            </div>
                            <br>
                        <%end%>
                    </p>
                </div>
            </div>
        <%end%>
    </div>
</div>
<br>
<div class="row">
    <div class="small-12 medium-12 columns">
        <p>
            <strong><%= t('backend.lobbies_data.contract') %></strong>
            <%= t(model.try(:contract).to_s) %>
        </p>
    </div>
</div>
<% if permit_category_with_money(model) || permit_category_without_money(model) %>
    <br>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <% if permit_category_with_money(model) %>
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <p>
                            <strong><%=  t('backend.lobbies_data.pretext_turnover') %></strong>
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <p>
                                        <strong>- <%= t('backend.lobbies_data.contract_turnover') %></strong>
                                        <%= model.try(:contract_turnover)%>
                                    </p>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>                        
                <br>
            <%end%>
            <% if permit_category_without_money(model) %>
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <p>
                            <strong><%=  t('backend.lobbies_data.pretext_not_turnover') %></strong>
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <p>
                                        <strong>- <%= t('backend.lobbies_data.contract_total_budget') %></strong>
                                        <%= model.try(:contract_total_budget)%>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <p>
                                        <strong>- <%= t('backend.lobbies_data.contract_breakdown') %></strong>
                                        <%= model.try(:contract_breakdown)%>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="small-12 medium-12 columns">
                                    <p>
                                        <strong>- <%=  t('backend.lobbies_data.contract_financing') %></strong>
                                        <%= model.try(:contract_financing)%>
                                    </p>
                                </div>
                            </div>
                        </p>
                    </div>               
                </div>
            <%end%>
        </div>
    </div>
<%end%>