<div class="row organizations-list">
  <div class="small-12 medium-8 column">
    <h1><%= t('backend.companies') %> (<%= @organizations.count %>)</h1>
    <%= link_to t('backend.export'), admin_organizations_path(format: :csv,params: params),class: "button tiny radius success" if current_user.admin? %>
  </div>
  <div class=" small-12 medium-4 column">
    <%= link_to t('backend.new_company'),new_admin_organization_path,class: "button radius warning right" if can? :create, Organization %>
  </div>
</div>

<%= render 'admin_search_form' %>
<div class="small-12 medium-8 columns">
  <%= page_entries_info @paginated_organizations, entry_name: t('backend.lobby') %>
  <%= paginate @paginated_organizations %>
</div>
<div class="small-12">
  <table class="small-12">
    <thead>
      <tr>
        <th><%= link_to_organizations_sorted_by :lobby %></th>
        <th><%= link_to_organizations_sorted_by :lobby_created_at  %></th>
        <th><%= link_to_organizations_sorted_by :lobby_renovation_at  %></th>
        <th><%= link_to_organizations_sorted_by :lobby_expired_at  %></th>
        <th><%= link_to_organizations_sorted_by :lobby_status %></th>
        <th><%= t('backend.lobby_management')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.title')%></th>
        <th><%= t('backend.lobby_created_at')%></th>
        <th><%= t('backend.lobby_renovation_at')%></th>
        <th><%= t('backend.lobby_expired_at')%></th>
        <th><%= t('backend.lobby_status')%></th>
        <th><%= t('backend.lobby_management')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @paginated_organizations.each do |organization| %>
        <% status = organization.status_type  %>
        <tr id="<%= dom_id(organization) %>" >
          <td>
            <%= "<i class='step fi-x size-24' style='color: red;'></i>".html_safe if !organization.set_expired_date.blank? && Time.zone.now > organization.set_expired_date && status != "Baja"%>   
            <%= link_to organization.fullname, admin_organization_path(organization) %>
          </td>
          <td><%= I18n.l organization.inscription_date, format: :short unless organization.inscription_date.blank? %></td>
          <td><%= I18n.l organization.renovation_date, format: :short unless organization.renovation_date.blank? %></td>
          <td><%= I18n.l organization.set_expired_date, format: :short unless status == "Baja" || organization.set_expired_date.blank? %></td>
          <td><%= status %></td>
          <td><%= organization.management_type %></td>
          <td>
            <%= link_to "<i class='step fi-torso size-24'></i>".html_safe,admin_organization_agents_path(organization),title: "Agentes" if current_user.admin? %>
            <%= link_to "<i class='step fi-eye size-24'></i>".html_safe,organization_path(organization, admin: "true"),target: :_blank,title: t('backend.lobby_show')  %>
            <%= link_to "<i class='step fi-page-edit size-24'></i>".html_safe,edit_admin_organization_path(organization),title: t('backend.edit') if can? :edit, organization%>
            <%= link_to " <i class='step fi-page-delete size-24'></i>".html_safe,admin_organization_path(organization),method: :delete,data: { confirm: t("backend.delete_confirm_lobby",name: organization.fullname) },title: t('backend.delete') if (can? :destroy, organization) && organization.status_type.to_s != t('backend.status_type.inactive') %>
            <% if organization.attachments.any? %>
              <%= link_to "<i class='step fi-archive size-24'></i>".html_safe,"#", title: t('backend.attachments_download'),class: "organization-attachments-dropdown-link",data: { dropdown: "#{organization_attachments_download_dropdown_id(organization)}" },aria: { controls: "#{organization_attachments_download_dropdown_id(organization)}" } %>
              <ul id="<%= organization_attachments_download_dropdown_id(organization) %>" class="organization-attachments-dropdown f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                <% organization.attachments.each do |attachment| %>
                  <li><%= link_to "<i class='step fi-archive size-24'></i>#{attachment.file.original_filename}".html_safe,attachment.file.url, target: :_blank  %></li>
                <% end %>
              </ul>
            <% end %>
            <%#= link_to "<i class='step fi-archive size-24'></i>".html_safe,admin_organization_path(organization, format: :pdf), title: t('backend.get_pdf_identificator'), target: "blank"  %>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @paginated_organizations %>
