

  function toggle_hidden(id) {
    var hiddenField = $(id),
        val = hiddenField.val();
    hiddenField.val(val === "true" ? "false" : "true");
  }

  function cancel_hidden(id) {
    var hiddenField = $(id)
    hiddenField.val("false");
  }

  $('#accept_link').bind('click', function(e){
    e.preventDefault();

    cancel_hidden('#event_decline')
    cancel_hidden('#event_cancel')
    toggle_hidden('#event_accept')

    $('#cancel-reason').hide()
    $('#decline-reason').hide()
  });

  $('#decline_link').bind('click', function(e){
    e.preventDefault();

    toggle_hidden('#event_decline')
    cancel_hidden('#event_cancel')
    cancel_hidden('#event_accept')

    $('#cancel-reason').hide()
    $('#decline-reason').toggle();
  });

  $('#cancel_link').bind('click', function(e){
    e.preventDefault();

    cancel_hidden('#event_decline')
    toggle_hidden('#event_cancel')
    cancel_hidden('#event_accept')

    $('#decline-reason').hide()
    $('#cancel-reason').toggle();
  });

  $('.fdatepicker').fdatepicker({
    format: "<%= I18n.translate('datepicker-format-time') %>",
    pickTime: true,
    language: "<%= I18n.locale %>",
    disableDblClickSelection: true,
    weekStart: 1
  });

  $.validator.addMethod("valueNotEquals", function(value, element, arg){
    agents = $(".nested-event-agents div.small-12.medium-8.columns select");
    delete_agents = $(".nested-event-agents .nested-fields.agents:visible").length
    var contador = 0
    agents.each(function(){
      if (($("#event_lobby_activity_true").is(':checked')) &&
       ((delete_agents == 0) || ($(this).val() == '' || typeof($(this).val()) == 'undefined' || $(this).val() == "<%= I18n.translate('backend.event.not_available_agents')%>" )) &&
       ($('#organization_entity_type').val() == "lobby"))
       contador = contador
      else 
        {contador += 1 }
    })
    if (contador > 0 || $("#event_lobby_activity_true").is(':checked') == false)
        return true
    else
      return false
  }, "<%= I18n.translate('backend.event.event_agent_needed')%>");

  $.validator.addMethod("checkMessage", function(value, element, arg){
    tinyMCE.triggerSave();
    id = "#event_" + arg
    content = $(id).val();
    if (($(element).val() == 'true') && (content == ''))
      {return false }
    else
      { return true }
  }, "<%= I18n.translate('backend.event.event_agent_needed')%>");

  $(".admin-form").validate({

      ignore: [],
      errorElement: "small",

      rules : {
          "event[title]" : {
              required : true,
              minlength : 10
          },
          "event[position_id]" : {
              required : true
          },
          "event[attachments_attributes][0][title]" : {
              required : true
          },
          "event[attachments_attributes][0][file]" : {
            required : true
          },
          "event[attachments_attributes][0][public]" : {
            required : true
          },
          "event[lobby_activity]" : {
            valueNotEquals: "<%= I18n.translate('backend.event.not_available_agents')%>"
          },
          "event[decline]" : {
            checkMessage : "declined_reasons"
          },
          "event[cancel]" : {
            checkMessage : "canceled_reasons"
          }
      },

      messages : {
          "event[title]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>",
            minlength : "<%= I18n.translate('backend.min_title_required')%>"
          },
          "event[position_id]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>"
          },
          "event[attachments_attributes][0][title]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>"
          },
          "event[attachments_attributes][0][public]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>"
          },
          "event[attachments_attributes][0][file]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>"
          },
          "event[attachments_attributes][0][public]" : {
            required : "<%= I18n.translate('backend.mandatory_field')%>"
          },
          "event[event_agents_attributes][0][name]" : {
            valueNotEquals: "<%= I18n.translate('backend.event.event_agent_needed')%>"
          },
          "event[decline]" : {
            checkMessage : "<%= I18n.translate('event.decline_reasons_needed')%>"
          },
          "event[cancel]" : {
            checkMessage : "<%= I18n.translate('event.cancel_reasons_needed')%>"
          }
      },

      errorPlacement : function(error, element) {
        error.insertAfter(element);
        if (element.attr("name") == "event[cancel]" ){
          error.appendTo('.cancel-reason-activity .error-radio-buttons');
        } else if (element.attr("name") == "event[decline]" ){
          error.appendTo('.decline-reason-activity .error-radio-buttons');
        } else if (element.attr("name") == "event[lobby_activity]" ){
          error.appendTo('.meeting-lobby-activity .error-radio-buttons');
        } else if (element.attr("name") == "event[attachments_attributes][0][public]" ) {
          error.appendTo('.attachments-public .error-radio-buttons');
        }
      }
  });

  if( $('.admin-form #attachments .nested-fields').length > 0 ){
    $(".admin-form").valid();
  }

  $("#event_lobby_activity_true").click(function(){
    $(".lobby-organization-autocomplete").show();
    $('.lobby-scheduled').show();
    $('.lobby-contact-info').show();
    $('.represented-entities-block').show();
    $('.agents-block').show();
  });


  $(document).on('focus load', '.event_organization_name', function(event){
    fill_autocomplete_organization_name($(this))
    fill_represented_entities_select_options($(this))
    fill_agents_select_options($(this))
  })
  
  $(document).on('click', '#event_agents_link', function(event){
    fill_agents_select_options($(this).closest(".small-12").closest(".nested-event-agents").closest(".agents-block").closest(".nested-fields").find(".event_organization_name"))
  })

  $(document).on('click', '#event_represented_entities_link', function(event){
    fill_represented_entities_select_options($(this).closest(".small-12").closest(".nested-event-represented-entities").closest(".represented-entities-block").closest(".nested-fields").find(".event_organization_name"))
  })


  if ($("#event_lobby_activity_true").is(":checked")) {
    remove_select();
    $('.lobby-scheduled').show();
    if ($("#new_event").length > 0) {
      $('#event_represented_entities_link').trigger('click');
      $('#event_agents_link').trigger('click');
    }
  } else {
    $(".lobby-organization-autocomplete").hide();
    $('.represented-entities-block').hide();
    $('.agents-block').hide();
    $('.lobby-scheduled').hide();
  };

  $("#event_lobby_activity_false").click(function(){
    $(".lobby-organization-autocomplete").hide();
    $('.represented-entities-block').hide();
    $('.agents-block').hide();
    $('.lobby-scheduled').hide();
    $("#lobby-activity-event .category-block").hide();
    $('.event_organization_name').val('');
    $('.lobby-contact-info').hide();
    $('#lobby-activity-event .link_to_remove_association').trigger('click');
  });

  $('#cancel-reason').hide();

  $("#event_cancel_true").click(function(){
    $("#cancel-reason").show();
  });

  if ($("#event_cancel_true").is(":checked")) {
    $("#cancel-reason").show();
  };

  $("#event_cancel_false").click(function(){
    $("#cancel-reason").hide();
  });

  $('#decline-reason').hide();

  $("#event_decline_true").click(function(){
    $("#decline-reason").show();
  });

  if ($("#event_decline_true").is(":checked")) {
    $("#decline-reason").show();
  };

  $("#event_decline_false").click(function(){
    $("#decline-reason").hide();
  });

  $('#accept-reason').hide();

  $("#event_accept_true").click(function(){
    $("#accept-reason").show();
  });

  if ($("#event_accept_true").is(":checked")) {
    $("#accept-reason").show();
  };

  $("#event_accept_false").click(function(){
    $("#accept-reason").hide();
  });


function fill_represented_entities_select_options(org_name) {
  var nested_events = org_name.closest('div.nested-fields').find('.represented-entities-block').find('.nested-event-represented-entities')
  var event_organization_id = org_name.closest('.nested-fields').find('input.event_organization_id')
  nested_events.bind('cocoon:after-insert', function() {
      $(this).
      data("association_insertion_method", 'after').
      data("association_insertion_node", 'this');
      if (event_organization_id[0].value){
        var closest_represented_entities_block = $(this).closest('.represented-entities-block')
      $.ajax({
        method: "GET",
        url: closest_represented_entities_block[0].dataset.newUrl.replace('organization_id', event_organization_id[0].value)
      }).done(function( represented_entities ) {
        var select = nested_events.find('select:last')
        select.html("");
        if (represented_entities && represented_entities!=undefined && represented_entities.length > 0)  {
          $.each(represented_entities, function(id, represented_entity){
            represented_entity_fullname = fullname_represented_entity(represented_entity);
            if (!select.text().includes(represented_entity_fullname)) {
              select.append($('<option>', { value: represented_entity_fullname, text: represented_entity_fullname }));
            }
            if (represented_entities.length == 1) {
              nested_events.find('select').val(represented_entity_fullname);
            }
          });
        }else {
          var closest_event_organization_name = event_organization_id.closest(".nested-fields").find(".event_organization_name")
          select.append($('<option>', { value: closest_event_organization_name[0].value, text: closest_event_organization_name[0].value }));
          set_option = closest_event_organization_name[0].value
          nested_events.find('select').val(set_option);
        }
      });
    }
  });
}

function fill_agents_select_options(org_name) {
  var nested_agents = org_name.closest('div.nested-fields').find('.agents-block').find('.nested-event-agents')
  var event_organization_id = org_name.closest('.nested-fields').find('input.event_organization_id')
  nested_agents.bind('cocoon:after-insert', function() {
    $(this).
      data("association_insertion_method", 'after').
      data("association_insertion_node", 'this');
    if (event_organization_id[0].value){
      var closest_agents_block = $(this).closest('.agents-block')
      $.ajax({
        method: "GET",
        url: closest_agents_block[0].dataset.newUrl.replace('organization_id', event_organization_id[0].value)
      }).done(function( agents ) {
        var select = nested_agents.find('select:last')
        select.html("");
        if (agents && agents!=undefined && agents.length > 0)  {
          $.each(agents, function(id, agent){
            agent_fullname = fullname_agent(agent);
            if (!select.text().includes(agent_fullname)) {
              select.append($('<option>', { value: agent_fullname, text: agent_fullname }));
            }
            if (agents.length == 1) {
              nested_agents.find('select').val(agent_fullname);
            }
          });
        }else {
          select.append($('<option>', { value: "<%= I18n.translate('backend.event.not_available_agents')%>", text: "<%= I18n.translate('backend.event.not_available_agents')%>" }));
          id_select_agent = select.attr('id');
          set_option = $('select#' + id_select_agent + ' option').last().val();
          nested_agents.find('select').val(set_option);
        }
      });
    }
  });
}

function fill_autocomplete_organization_name(org_name) {
    org_name.bind('railsAutocomplete.select', function(event, data){
      $(this).closest('div.nested-fields').find('.agents-block').find('.nested-event-agents .link_to_remove_association').trigger('click');
      $(this).closest('div.nested-fields').find('.represented-entities-block').find('.nested-event-represented-entities .link_to_remove_association').trigger('click');
      var closest_event_organization_id = $(this).siblings('.event_organization_id')[0].id
      var category_block = $(this).closest('.nested-fields').find('.category-block')
      var event_category = category_block.find('.event-category')
      $('#'+closest_event_organization_id).val(data.item.id);
      event_category.empty();
      if ($('#'+closest_event_organization_id).val()){
        $.ajax({
          method: "GET",
          url: category_block[0].dataset.newUrl.replace('organization_id', $('#'+closest_event_organization_id).val())
        }).done(function( organization_info ) {
          if (event_category[0].innerHTML == ''){
            event_category.append(organization_info[0]);
            var org_entity_type = event_category.closest(".small-10").closest(".row").closest(".category-block").closest(".nested-fields").find("#organization_entity_type")
            org_entity_type[0].value = organization_info[1];
            if (org_entity_type[0].value == "lobby") {
              org_entity_type.closest(".nested-fields").find(".represented-entities-block").show();
              org_entity_type.closest(".nested-fields").find(".represented-entities-block .nested-event-represented-entities .small-12 #event_represented_entities_link").trigger('click')
              org_entity_type.closest(".nested-fields").find(".agents-block").show();
              org_entity_type.closest(".nested-fields").find(".agents-block .nested-event-agents .small-12 #event_agents_link").trigger('click');
            } else {
              org_entity_type.closest(".nested-fields").find(".represented-entities-block").hide();
              org_entity_type.closest(".nested-fields").find(".agents-block").hide();
            }
          }
        });
        category_block.show();
      }
  });
}

function remove_select() {
  if ($("#new_event_represented_entity select").children().length == 0) {
    $('#new_event_represented_entity .link_to_remove_association').trigger('click');
    $('#new_event_agent .link_to_remove_association').trigger('click');
  }
}

function fullname_represented_entity(represented_entity) {
  fullname = represented_entity.name
  if (represented_entity.first_surname != null) {
    fullname = fullname+" "+represented_entity.first_surname
  }
  if (represented_entity.second_surname  != null) {
    fullname = fullname+" "+represented_entity.second_surname
  }
  
  if (fullname == "  ") {
    fullname = represented_entity.business_name
  }
  return fullname;
}

function fullname_agent(agent) {
  fullname = agent.name
  if (agent.first_surname != null) {
    fullname = fullname+" "+agent.first_surname
  }
  if (agent.second_surname  !=null) {
    fullname = fullname+" "+agent.second_surname
  }
  return fullname;
}

if ($("#event_multi_attendees_true").is(":checked")) {
    $('.events-attendees').hide();
};

$("#event_multi_attendees_true").click(function(){
    $(".events-attendees").hide();
  });

$("#event_multi_attendees_false").click(function(){
  $(".events-attendees").show();
});