var Search = {

  update_select: function(url, value){
    $.ajax({
      method: "GET",
      url: url,
      data: { id: value },
      dataType: 'script'
    }).error(function(jqXHR, textStatus, errorThrown) {
      console.log("AJAX Error: #{textStatus}");
    });
  }

};


$(function () {

    $('.fdatepicker').fdatepicker({
      format: "<%= I18n.translate('datepicker-format') %>",
      language: "<%= I18n.locale %>",
      weekStart: 1
    });   

    $('#delete-keywords').on('click', function(e){
      e.preventDefault();
      $('.keywords').text('');
      $('#keyword').val('');
      $('form').submit();
      $(this).remove();
    });

    $('#search-order').on('change',function(e){
      $('#order').val($(this).val());
      $('form').submit();
    });
});
