<td>
  <h1><%= t('mailers.cancel_event.head1', event_reference: @event_reference)%></h1>
  <p><%= t('mailers.cancel_event.text1', event_reference: @event_reference) %></p>
  <h2><%= t('mailers.cancel_event.head2')%></h2>
  <ul>
    <li><b><%= t('mailers.cancel_event.text2')%></b> <%= @lobby_name %></li>
    <li><b><%= t('mailers.cancel_event.text3')%></b> <%= @name %></li>
    <li><b><%= t('mailers.cancel_event.text4')%></b> <%= @to %></li>
  </ul>
  <h2><%= t('mailers.cancel_event.head3')%></h2>
  <ul>
    <li><b><%= t('mailers.cancel_event.text10')%></b> <%= @holder_name %></li>
    <li><b><%= t('mailers.cancel_event.text5')%></b> <%= @event_title.html_safe %></li>
    <li><b><%= t('mailers.cancel_event.text6')%></b> <%= @event_description.html_safe %></li>
    <li><b><%= t('mailers.cancel_event.text7')%></b> <%= @event_scheduled %></li>
    <li><b><%= t('mailers.cancel_event.text8')%></b> <%= @event_location %></li>
  </ul>
    <h2><%= t('mailers.cancel_event.head4')%></h2>
  <ul>
    <li><b><%= t('mailers.cancel_event.text9')%></b> <%=  @reasons.html_safe %></li>
  </ul>
  <p><b><%= t('mailers.cancel_event.notice') %></b><a href="http://registrodelobbies.madrid.es/">http://registrodelobbies.madrid.es/</a></p>
</td>
