.calendar_now {
  background-color: #0000e1;
  color: white !important;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  line-height: 0rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.calendar_now a {
  background-color: #0000e1;
  color: white !important;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  line-height: 0rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.calendar_link {
  color: black;
  font-size: 1rem !important;
}

.calendar_link:hover {
  color: white;
  font-size: 1rem !important;
}

.calendar_now_button {
  color: white !important;
  font-weight: bold;
}

.calendar_without {
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  line-height: 0rem;

}

.calendar_without:hover {
  color: #FFC300;
  cursor: pointer;
}

.calendar_now:hover {
  background-color: #0077b9;
  color: white;
  font-weight: bold;
}

.calendar_selected {
  background-color: #0077b9;
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  line-height: 0rem;
}

.calendar_selected .calendar_without {
  color: white;
  font-weight: normal;
}

.calendar_selected .calendar_without:hover {
  color: #FFC300;
}

.calendar_event {
  background-color: #FFC300;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  line-height: 0rem;
}

.calendar_event a {
  background-color: #FFC300;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event_now {
  background-color: #0000e1;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event_now a {
  background-color: #0000e1;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event:hover {
  background-color: #0077b9;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.calendar_event:hover a {
  background-color: #0077b9;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.calendar_event_button_secondary {
  color: black;
  padding: 0.1rem;
  text-align: left;
}

.calendar_event_button_secondary:hover {
  color: #0077b9;
  padding: 0.1rem;
  cursor: pointer;
  text-align: left;
}

.calendar_event_button {
  margin: 0px;
  color: black;
  padding: 0.1rem;
  text-align: left;
}

.calendar_event_button:hover {
  margin: 0px;
  color: white;
  padding: 0.1rem;
  cursor: pointer;
  text-align: left;
}


.calendar_buttons {
  padding: 10px;
  width: 100%;
}

.calendar_columns {
  padding: 1px;
}

.calendar_out {
  background-color: gray;
  padding: 0.1rem;
}

.calendar_secondary {
  background-color: lightgray;
}