<article id="<%= dom_id(organization)%>" class="post organization">
  <h2 class="organization_name post__title">
    <%if params[:stats].blank?%>
      <%= link_to organization.fullname, organization_path(organization), target: "blank", title: t("organizations.show.title") %>
    <%else%>
      <%= organization.fullname %>
    <%end%>
  </h2>
  <p>
    <%= I18n.l organization.inscription_date, format: :short unless organization.inscription_date.blank?%>
    <% if !organization.renovation_date.blank?%>
      <span>
        - <b>Fecha de renovación:</b> <%= I18n.l organization.renovation_date, format: :short unless organization.renovation_date.blank?%>        
        <%if organization_expired?(organization)%>        
           - <b>Fecha de caducidad:</b> <%= I18n.l organization.set_expired_date, format: :short unless organization.set_expired_date.blank?%>
        <%end%>
      </span>
    <%elsif  organization_expired?(organization)%>
       - <b>Fecha de caducidad:</b> <%= I18n.l organization.set_expired_date, format: :short unless organization.set_expired_date.blank?%>
    <%end%>
    <%= organization_list_status(organization) %>
    <% if events_as_lobby_by(organization) > 0 %>
      <span class="bullet">&nbsp;&bull;&nbsp;</span>
      <%= "#{t('organizations.events_as_lobby')}: #{events_as_lobby_by(organization)}" %>
    <% end %>
  </p>
</article>
