<div class="row">
  <h1>
    <%= t('backend.users')%> (<%= @users.count %>)
    <%= link_to t('backend.new_user'), new_admin_user_path, :class => "button radius warning right" if can? :create, User %>
  </h1>
  <%= link_to t('backend.export'), current_url(:format=>:csv, params: params), :class => "button tiny radius success" %>
</div>

<%= render 'admin_search_form' %>

<div class="row">
  <table class="display" cellpadding="0" width="100%">
    <thead>
    <tr>
      <th width="40%"><%= t('backend.name')%></th>
      <th width="15%"><%= t('backend.role')%></th>
      <th width="35%"><%= t('backend.managed_positions')%></th>
      <th width="10%"><%= t('backend.actions')%></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th><%= t('backend.name')%></th>
      <th><%= t('backend.role')%></th>
      <th><%= t('backend.managed_positions')%></th>
      <th><%= t('backend.actions')%></th>
    </tr>
    </tfoot>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.email_name, admin_user_path(user) %><br />
            <%= user.email %>
          </td>
          <td>
            <%= t("backend.#{user.role}").capitalize %>
            <br>
            <%= t("backend.user_holder").capitalize if user.user_holder?%>
            <%= t("backend.user_manages").capitalize if user.user_manages?%>
          </td>
          <td>
            <% user.manages.map{|h| h.holder}.each do |h| %>
                <%= link_to h.full_name, holder_path(h) %><br />
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_user_path(user), title: t('backend.edit') do %>
              <i class="step fi-page-edit size-24"></i>
            <% end if can? :edit, User %>

            <%= link_to admin_user_path(user), method: :delete, data: { confirm: t("backend.confirm") }, title: t('backend.delete') do%>
              <i class="step fi-page-delete size-24"></i>
            <% end if can? :delete, User%>
            <% if  Rails.env.development? || Rails.env.preproduction? %>
              <%= link_to new_holder_path(user_id: user.try(:id)), data: { confirm: t("backend.confirm_assign") }, title: t('backend.assign_user') do %>
                <i class="fi-address-book size-24"></i>
              <% end if can? :create, Holder %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
