<%=
  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    headers = [t('users_csv.role'),
              t('users_csv.first_name'),
              t('users_csv.last_name'),
              t('users_csv.email'),
              t('users_csv.status')]
    if params[:role].to_i!=2
      headers_specific =[ 
              t('users_csv.user_url'),
              t('users_csv.holder'),
              t('users_csv.agenda_url')]
      headers = headers + headers_specific
    end

    users_row = []
    @users.each do |user|
        row = [
        "#{t("users_csv.#{user.role}").capitalize}#{ user.user_holder? ? "/#{t("backend.user_holder").capitalize}" : ""}#{user.user_manages? ? "/#{t("backend.user_manages").capitalize}" : "" }",
                  user.first_name,
                  "#{user.last_name} #{user.second_last_name}",
                  user.email]
        if !user.lobby? && !user.user_holder?
          row_specific =[if user.active.to_i==1
                      t('users_csv.active')
                    else
                      t('users_csv.inactive')
                    end,
                    admin_user_url(user) ]
          row = row + row_specific
        elsif user.user_holder?
         row_specific =[if user.user_holder_active?
                      t('users_csv.active')
                    else
                      t('users_csv.inactive')
                    end,
                    admin_user_url(user) ]
          row = row + row_specific
        else
          unless user.organization.blank?
            row_specific = [ user.organization.status_type]
            row = row + row_specific
          end
        end
        i=0
        aux_row = row
        user.manages.map{|h| h.holder}.each do |h|
          row_specific =[h.full_name,
                agenda_url(h.id, h.full_name.parameterize)]
          row = aux_row + row_specific
          users_row.push(row)
          
          i= i+1
        end
        users_row.push(row) if i.to_i==0
    end

    csv << headers
    users_row.each do |row|
      csv << row
    end
  end.html_safe
%>
