<div class="nested-fields">
  <div class="row" style="border: 1px solid lightgray;padding-top: 15px;margin-bottom: 10px;">
    <%= f.hidden_field :holder_id, :value => @holder.id %>
    <div class="small-9 columns">
      <%= form_tag search_holders_path, :method => 'get' do %>
        <%= f.select( :user_id, options_for_select(@manages.collect {|a| [a.full_name_comma_reverse, a.id]}, :selected =>params[:option] ), onchange: 'this.form.submit();', class: "form-control custom-select" )%>
      <% end %>
    </div>
    
    <div class="small-3 columns">
      <%= link_to_remove_association t('backend.delete'), f, :class => "button tiny radius alert right" %>
    </div>
  </div>
</div>
