<div class="row align-middle">
  <br />

  <%= form_tag active_holders_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="small-3 columns">
      <%= label_tag(:search_title, t("backend.search_active.title")) %>
      <%= text_field_tag :search_title,params[:search_title], placeholder: t("backend.search_active.placeholder_title")%>
    </div>
    <div class="small-3 columns">
      <%= label_tag(:search_start_date, t("backend.search_active.start_date")) %>
      <%= date_field_tag :search_start_date,params[:search_start_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_start_date"), onchange: "validation_date(0)"%>
    </div>
    <div class="small-3 columns">
      <%= label_tag(:search_end_date, t("backend.search_active.end_date")) %>
      <%= date_field_tag :search_end_date,params[:search_end_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_end_date"), onchange: "validation_date(1)"%>
    </div>
    <div class="small-3 columns">
      <div class="row align-center-middle" style="margin-top: 30px;">
        <div class="small-6 columns ">
          <% [ t("backend.search_active.active"), t("backend.search_active.all") ].each do |theme| %>
            <%= radio_button_tag 'theme', theme, params[:theme] == theme || params[:theme].blank? && theme == "Activos"  %><%= theme %> 
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <div class="small-3 columns">
      <%= label_tag(:search_start_start_date, t("backend.search_active.start_start_date")) %>
      <%= date_field_tag :search_start_start_date,params[:search_start_start_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_start_start_date"), onchange: "validation_start_date(0)"%>
    </div>
    <div class="small-3 columns">
      <%= label_tag(:search_end_start_date, t("backend.search_active.end_start_date")) %>
      <%= date_field_tag :search_end_start_date,params[:search_end_start_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_end_start_date"), onchange: "validation_start_date(1)"%>
    </div>
    <div class="small-3 columns">
      <%= label_tag(:search_start_end_date, t("backend.search_active.start_end_date")) %>
      <%= date_field_tag :search_start_end_date,params[:search_start_end_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_start_end_date"), onchange: "validation_end_date(0)"%>
    </div>
    <div class="small-3 columns">
      <%= label_tag(:search_end_end_date, t("backend.search_active.end_end_date")) %>
      <%= date_field_tag :search_end_end_date,params[:search_end_end_date], autocomplete: :off, placeholder: t("backend.search_active.placeholder_end_end_date"), onchange: "validation_end_date(1)"%>
    </div>
    
    </div>
    
    <div class="columns text-right">
      <%= link_to t('main.form.reset'), active_holders_path, class: 'expanded tiny radius button secondary' %>
      <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
    </div>
    
  <% end %>
</div>

<script>
$('.fdatepicker').fdatepicker({
  format: "<%= I18n.translate('datepicker-format') %>",
  language: "<%= I18n.locale %>",
  weekStart: 1
});

function validation_date(tipo) {
  var date_ini = $('#search_start_date').val();
  var date_fin = $('#search_end_date').val();
  if(tipo==0 && date_ini > date_fin && date_fin != "" && date_ini != "") {
    $('#search_end_date').val($('#search_start_date').val());
  }else if(tipo==1 && date_ini > date_fin && date_ini != "" && date_fin!=""){
    $('#search_start_date').val($('#search_end_date').val());
  }   
}

function validation_start_date(tipo){
  var date_start_ini = $('#search_start_start_date').val();
  var date_start_fin = $('#search_end_start_date').val();
  if(tipo==0 && date_start_ini > date_start_fin && date_start_fin != "" && date_start_ini != "") {
    $('#search_end_start_date').val($('#search_start_start_date').val());
  }else if(tipo==1 && date_start_ini > date_start_fin && date_start_ini != "" && date_start_fin!=""){
    $('#search_start_start_date').val($('#search_end_start_date').val());
  }  
}

function validation_end_date(tipo){
  var date_end_ini = $('#search_start_end_date').val();
  var date_end_fin = $('#search_end_end_date').val();
  if(tipo==0 && date_end_ini > date_end_fin && date_end_fin != "" && date_end_ini != "") {
    $('#search_end_end_date').val($('#search_start_end_date').val());
  }else if(tipo==1 && date_end_ini > date_end_fin && date_end_ini != "" && date_end_fin!=""){
    $('#search_start_end_date').val($('#search_end_end_date').val());
  }  
}
</script>
