<div class="row">
  <br />

  <%= form_tag holders_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="small-4 columns">
      <%= label_tag(:search_name, t("backend.search.name")) %>
      <input type="text" name="search_name" placeholder="<%= t("backend.search.placeholder_name") %>"  value="<%= params[:search_name] %>">
    </div>
    <div class="small-4 columns">
      <%= label_tag(:search_contributed_by, t("backend.search.contributed_by")) %>
      <%= select_tag :search_contributed_by,
                     options_for_select(@manages_collection, 
                     unless params[:search_contributed_by].blank? 
                      params[:search_contributed_by]
                     else  
                      ""
                     end),
                     class: "dropdown" %>
    </div>
    <div class="columns text-right">
      <%= link_to t('main.form.reset'), holders_path, class: 'expanded tiny radius button secondary' %>
      <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
    </div>
  <% end %>
</div>
