<%=
  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    csv << [t('backend.holder'),t('backend.holder_csv.email'),t('backend.holder_csv.start_date'), t('backend.holder_csv.end_date'),t('backend.holder_csv.position'),t('backend.holder_csv.cod_area'), t('backend.holder_csv.area') , t('backend.public_url')]
    @holder_unpaginated.each do |h|
      if h.positions.count > 0
        #h.positions.each do |pos|
          if h.current_position.try!(:to).blank? 
            csv << [h.full_name_comma.blank? ? "-" : h.full_name_comma, 
              h.user_email.blank? ? "-" : h.user_email,
              h.current_position.try!(:start).blank? ? "-" : h.current_position.start.strftime("%d/%m/%Y"), 
              h.current_position.try!(:to).blank? ? "-" : h.current_position.to.strftime("%d/%m/%Y"), 
              h.current_position.try!(:title).blank? ? "-" : h.current_position.title, 
              h.current_position.try!(:area).blank? || h.current_position.try!(:area).try!(:internal_id).blank? ? "-" : h.current_position.try!(:area).internal_id, 
              h.current_position.try!(:area).blank? || h.current_position.try!(:area).try!(:title).blank? ? "-" : h.current_position.try!(:area).title ,
              agenda_url(h.try!(:id),h.try!(:full_name).parameterize)]
            end
          #end
      else 
        csv << [h.full_name_comma.blank? ? "-" : h.full_name_comma, 
          "-", "-", "-", "-", "-", agenda_url(h.id,h.full_name.parameterize)]
      end
    end
  end.html_safe
%>
