<div class="row">
  <h1>
    <%= t('backend.holders')%> (<%= @holder_unpaginated.count %>)
    <%= link_to t('backend.new_holder'), new_holder_path, :class => "button radius warning right" if can? :create, Holder %>
  </h1>
  <%= link_to t('backend.export_holders'), current_url(format: :csv), :class => "button tiny radius success" %>
  <%= link_to t('backend.export_manages'), export_manages_admin_users_path, :class => "button tiny radius success" %>
  <%= link_to t('backend.export_all'), export_all_holders_path, :class => "button tiny radius success" %>
</div>
<%= render 'search_form' %>
<div class="small-12 columns mb20">
  <%= page_entries_info @holders %>
  <%= paginate @holders %>
</div>
<div class="row">
  <table class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.name')%></th>
        <th><%= t('backend.position')%></th>
        <th><%= t('backend.contributed_by')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.name')%></th>
        <th><%= t('backend.position')%></th>
        <th><%= t('backend.contributed_by')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @holders.each do |holder| %>
          <tr>
            <td>
              <%= link_to holder.full_name_comma, holder_path(holder) %>
            </td>
            <td>
              <strong><%= holder.current_position.try!(:title)  %></strong><br />
              <%= holder.current_position.try!(:area).try!(:title)%>
            </td>
            <td>
              <% holder.users.each do |u| %>
                <%= link_to u.full_name_comma, edit_admin_user_path(u)  %><br />
              <% end %>
            </td>
            <td>
              <%= link_to edit_holder_path(holder), title: t('backend.edit') do %>
                <i class="step fi-page-edit size-24"></i>
              <% end if can? :edit, Holder %>

              <%= link_to holder_path(holder), method: :delete, data: { confirm: t("backend.confirm") }, title: t('backend.delete') do%>
                <i class="step fi-page-delete size-24"></i>
              <% end if can? :delete, Holder%>
              <% if can? :mail, Holder %>
                <%= link_to image_tag('icon2.png',width: '25rem'), mail_holder_path(holder, :type_mail => 'titular'), title: t('backend.sent_t') %>
                <%= link_to image_tag('icon1.png',width: '25rem'), mail_holder_path(holder, :type_mail => 'gestor'), title: t('backend.sent_g') %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @holders %>

