<%= form_for @mail,url: send_mail_holder_path(@holder),method: :post, html: {class: 'question-form'} do |f| %>
    <div class="row">
        <div class="small-12 medium-8 column">
            <h1><%= t('backend.manage_mails.title_edit')%></h1>
            <br>
            <h5><%= t('backend.manage_mails.type_mail')%> <%= t("backend.manage_mails.#{ @type_mail}") if !@type_mail.blank? %></h5>
        </div>
    </div>
    <% if @mail.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header', :model => ManageEmail.model_name.human, :count => @mail.errors.count) %></strong>
          <ul>
            <% @mail.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
        <legend><%= t('backend.manage_mails.info') %></legend>
        <%= render partial: "admin/manage_emails/mail_format", locals: {f: f, type: "send"}%>
    </fieldset>
        <%= f.submit t('backend.manage_mails.send'), class: "button tiny radius success" %>
        <%= link_to t('backend.back'), holders_path , :class=> "button tiny radius" %>
<% end %>