<h3><%= @holder.full_name_comma %></h3>
<%= link_to t('backend.edit'), edit_holder_path(@holder), :class=> "button tiny radius success" if can? :update, Holder%>
<%= link_to t('backend.back'), holders_path , :class=> "button tiny radius" %>
<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <p><strong><%= t('backend.first_name') %>:</strong> <%= @holder.first_name %></p>
  <p><strong><%= t('backend.last_name') %>:</strong> <%= @holder.last_name %></p>
  <p><strong><%= t('backend.agenda') %>:</strong>
  <%= link_to "#{agenda_url(@holder.id, @holder.full_name.parameterize)}?advanced_search=advanced", "#{agenda_url(@holder.id, @holder.full_name.parameterize)}?advanced_search=advanced", target: :blank %>
</fieldset>
<fieldset>
  <legend><%= t('backend.contributed_by') %></legend>
  <div class="row">
    <div class="small-1 columns"><strong><%= t('backend.name') %></strong></div>
    <div class="small-3 columns"><strong><%= t('backend.actions') %></strong></div>
  </div>

  <% @holder.users.each do |u| %>    
  <div class="row">
    <div class="small-1 columns"><%= link_to u.full_name_comma, edit_admin_user_path(u)  %></div>
    <div class="small-3 columns"></div>
  </div>
  <% end %>
</fieldset>

<fieldset>
  <legend><%= t('backend.positions') %></legend>
  <div class="row">
    <div class="small-1 columns"><strong><%= t('backend.status_unit') %></strong></div>
    <div class="small-2 columns"><strong><%= t('backend.start') %></strong></div>
    <div class="small-2 columns"><strong><%= t('backend.end') %></strong></div>
    <div class="small-2 columns"><strong><%= t('backend.position') %></strong></div>
    <div class="small-2 columns"><strong><%= t('backend.area') %></strong></div>
    <div class="small-3 columns"><strong><%= t('backend.comments') %></strong></div>
  </div>
  <% @holder.positions.each do |position| %>
  <div class="row">
    <div class="small-1 columns"><%= position.to.blank? ? t('backend.active') : t('backend.inactive') %></div>
    <div class="small-2 columns"><%= position.start.present? ? position.start.strftime("%d/%m/%Y") : "-" %></div>
    <div class="small-2 columns"><%= position.to.present? ? position.to.strftime("%d/%m/%Y") : "-" %></div>
    <div class="small-2 columns"><%= position.title %></div>
    <div class="small-2 columns"><%= position.try(:area).try(:title) %></div>
    <div class="small-3 columns"><%= position.comments %></div>
  </div>
  <% end %>
</fieldset>

