<nav class="admin-sidebar mb40">
  <ul id="admin_menu">
    <li>
      <% if current_user.admin? %>
        <%= t('backend.menu_admin') %>
      <% elsif current_user.lobby? %>
        <%= t('backend.menu_lobby') %>
      <% else %>
        <%= t('backend.menu_user') %>
      <% end %>
    </li>
    <% if current_user.admin? %>
    <li class="<%= active_menu('users') %>">
      <a href="<%= admin_users_path %>">
        <i class="fi-results-demographics size-18"> <%= t("backend.users")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.user? %>
      <li class="<%= active_menu('events', nil, :events) %>">
        <a href="<%= events_path(event_fixed_filters[:events]) %>">
          <i class="fi-book size-18"> <%= t("organizations.show.events_title") %></i>
        </a>
      </li>
    <% else %>
      <li class="<%= active_menu('events') %>">
        <a href="<%= events_home_path(current_user, false) %>">
          <i class="fi-calendar size-18">
            <%= t("organizations.show.events_title") %>
          </i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? || current_user.user? %>
      <li class="<%= active_menu('admin/organizations') %>">
        <a href="<%= admin_organizations_path %>">
          <i class="fi-book size-18"> <%= t("backend.companies")%></i>
        </a>
      </li>
    <% elsif current_user.lobby? && current_user.role_view.blank? %>
      <li class="<%= active_menu('admin/agents', 'index') %>">
        <%= link_to admin_organization_agents_path(current_user.organization) do %>
          <i class="fi-plus size-18"> <%= t("backend.edit_agents") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations/interests', 'index') %>">
        <%= link_to admin_organization_organization_interests_path(current_user.organization) do %>
          <i class="fi-plus size-18"> <%= t("backend.add_interests") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations', 'show') %>">
        <a href="<%= admin_organization_path(id: current_user.organization_id) %>">
          <i class="fi-book size-18"> <%= t("backend.show_company") %></i>
        </a>
      </li>
    <% elsif current_user.lobby? && current_user.role_view == 2 %>
      <li class="<%= active_menu('admin/agents', 'index') %>">
        <%= link_to admin_organization_agents_path(current_user) do %>
          <i class="fi-plus size-18"> <%= t("backend.edit_agents") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations/interests', 'index') %>">
        <%= link_to admin_organization_organization_interests_path(current_user) do %>
          <i class="fi-plus size-18"> <%= t("backend.add_interests") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations', 'show') %>">
        <a href="<%= admin_organization_path(id: current_user) %>">
          <i class="fi-book size-18"> <%= t("backend.show_company") %></i>
        </a>
      </li>
    <% end %>
    <% if current_user.user? %>
      <li class="<%= active_menu('events', nil, :tray) %>">
        <a href="<%= events_path(event_fixed_filters[:tray]) %>">
          <i class="fi-calendar size-18">
            <%= t("backend.event_tray") %>
          </i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('areas') %>">
        <a href="<%= areas_path %>">
          <i class="fi-web size-18"> <%= t("backend.areas")%></i>
        </a>
      </li>
      <li class="<%= active_menu('admin/questions') %>">
        <a href="<%= admin_questions_path %>">
          <i class="fi-lightbulb size-18"> <%= t("backend.faq.questions")%></i>
        </a>
      </li>
      <li class="<%= active_menu('holders') %>">
        <a href="<%= holders_path %>">
          <i class="fi-address-book size-18"> <%= t("backend.positions")%></i>
        </a>
      </li>
      <li class="<%= active_menu('holders','active') %>">
        <a href="<%= active_holders_path %>">
          <i class="fi-address-book size-18"> <%= t("backend.positions_active")%></i>
        </a>
      </li>
      <li class="<%= active_menu('admin/exports') %>">
        <a href="<%= admin_exports_path %>">
          <i class="step fi-archive size-18"> <%= t("backend.exports.title_export")%></i>
        </a>
      </li>
      <li class="<%= active_menu('admin/notifications') %>">
        <a href="<%= active_admin_notifications_path %>">
          <i class="fi-page-multiple size-18"> <%= t("backend.notifications", num: get_num_active_notifications )%></i>
        </a>
      </li>
      <li class="<%= active_menu('admin/parametrizations') %>">
        <a href="<%= admin_parametrizations_path %>">
          <i class="step fi-mail size-18"> <%= t("backend.exports.manage_mailer")%></i>
        </a>
      </li>
      <li class="<%= active_menu('activities') %>">
        <a href="<%= activities_path %>">
          <i class="fi-page-multiple size-18"> <%= t("backend.activity")%></i>
        </a>
      </li>
    <% end %>
    <li>
      <%= link_to root_path, target: :blank do %>
          <i class="fi-arrow-right size-18"> <%= t("backend.frontend")%></i>
      <% end %>
    </li>
    <li class="<%= active_menu('admin/passwords') %>">
      <%= link_to admin_edit_password_path do %>
          <i class="fi-key size-18"> <%= t("backend.change_password")%></i>
      <% end %>
    </li>
    <% if current_user.lobby? %>
      <li>
        <%= link_to admin_organizations_links_path do %>
            <i class="fi-page-edit size-18"> <%= t("backend.edit_delete_organization")%></i>
        <% end %>
      </li>
      <!--<li>
        <%#= link_to admin_organization_path(current_user.organization, format: :pdf), title: t('backend.get_pdf_identificator'), target: "blank" do %>
          <i class="step fi-archive size-18"> <%#= t('backend.get_pdf_identificator')%></i>
        <%#end%>
      </li>-->
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('admin/newsletters') %>">
        <%= link_to admin_newsletters_path do %>
          <i class="fi-mail size-18"> <%= t("backend.newsletters.title") %></i>
        <% end %>
      </li>
    <%end%>
    <li>
      <%= link_to help_by_role(current_user), target: "_blank" do %>
        <i class="fi-magnifying-glass size-18"> <%= t("header.btn_help")%></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fi-arrow-left size-18">
          <%= t("backend.logout")%>
           - (<%= current_user.full_name%>)
          </i>
      <% end %>
    </li>
  </ul>
</nav>
