<header class="header">
  <div class="row hide-for-small-only">
    <div class="small-12 columns text-right">
      <ul class="header__menu">
        <li><%= link_to t('header.transparency'), t('header.transparency_url'), target: "blank" %></li>
        <li><%= link_to t('header.open_data'), t('header.open_data_url'), target: "blank" %></li>
        <li><%= link_to t('header.participation'), t('header.participation_url'), target: "blank" %></li>
      </ul>
    </div>
  </div>

  <div class="top_bar_box">
    <div class="row">
      <div class="small-12 columns hide-for-small-only">
        <div class="header__base medium-6 columns">
          <%= link_to "https://transparencia.madrid.es", target: "blank"  do %>
            <%= image_tag 'header_logo_madrid.png', class: 'header__imago', alt:'¡Madrid'%>          
            <h1 class="header__title"><strong><%= t('header.transparency') %></strong><%= t('header.open_goverment') %></h1>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="top-bar-section">
            <ul class="right">
              <% if !current_user.role_view.blank? %>
                <li><%= link_to t('backend.back_to_admin_view'), revert_admin_user_path(current_user), style: "padding-left:0px" %></li>
              <% end %>
              <li><%= link_to t('backend.logout'), destroy_user_session_path, method: :delete %></li>
              <li><%= link_to t('header.btn_login'), admin_path, class: "button" %></li>
            </ul>
          </div>
        <% elsif current_page?(root_path) || current_page?(registration_lobbies_path) || current_page?(registration_lobbies_index_path) || current_page?(organizations_path) %>
          <div class="top-bar-section">
            <ul class="right">
              <li><%= link_to t('header.btn_login'), admin_path, class: "button btn-admin" %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="sub_top_bar_box hide-for-small-only">
      <div class="row">
        <div class="small-12 columns">
          <ul class="inline-list">
            <li><%= link_to t('header.btn_home'), root_path, class: current_class(root_path), accesskey: 0  %></li>
            <li><%= link_to t('header.btn_agenda'), visitors_path, class: current_class(visitors_path), accesskey: 1 %></li>
            <li><%= link_to t('header.btn_registration_lobbies'), registration_lobbies_index_path, class: current_class(registration_lobbies_index_path) || current_class(organizations_path), accesskey: 2  %></li>
            <li><%= link_to t('header.btn_regulations'), 'https://transparencia.madrid.es/portales/transparencia/es/Informacion-juridica/Huella-normativa?vgnextfmt=default&vgnextchannel=4099508929a56510VgnVCM1000008a4a900aRCRD', target: 'blank', accesskey: 3 %></li>
            <li><%= link_to t('header.btn_transparency'), 'https://transparenciapersonas.madrid.es/', target: 'blank', accesskey: 4 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
